@import "variables";
@mixin flex($direction: row, $align: center, $justify: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

.active{
  color: map-get($primary ,primary );
}
.borderActive{
  width: 4px;
  border-radius: 25px;
  height: 36px;
  background-color: map-get($primary , main);
}

.diActive{
  color:map-get($primary , secondary) ;
}

.Under {
  display: block;
  @media screen and (min-width: 900px) {
    display: none;
  }
}

.Over {
  display: none;
  @media screen and (min-width: 900px) {
    display: block;
  }
}