* , body , html {
  font-family: 'Yekan Bakh';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
@import "variables";
@import "typography";
@import "fonts";
@import "base";
@import '../scss/component/dashboard';
@import '../scss/component/navbarCard';
@import '../scss/component/Header';
@import "../scss/component/ShoppingCard";
@import "../scss/component/HomePage";


