*, body, html, table, thead, tr, th, tbody, td {
  font-family: "Yekan Bakh";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 28px;
}

h6 {
  font-size: 14px;
  line-height: 24px;
}

p {
  font-size: 12px;
  line-height: 20px;
}

span {
  font-size: 10px;
}

.bold {
  font-weight: 900;
}

.medium {
  font-weight: 700;
}

.small {
  font-weight: 500;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../font/YekanBakh-Regular.ttf") format("ttf"), url("../font/YekanBakhFaNum-Regular.otf") format("otf"), url("../font/YekanBakhFaNum-Regular.woff") format("woff"), url("../font/YekanBakhFaNum-Regular.woff2") format("woff2");
}
.active {
  color: #2B3674;
}

.borderActive {
  width: 4px;
  border-radius: 25px;
  height: 36px;
  background-color: #4318FF;
}

.diActive {
  color: #A3AED0;
}

.mainDashboard {
  background-color: #F4F7FE;
}
.mainDashboard .dashboard {
  background-color: white;
  width: 290px;
  height: auto;
  padding: 40px 0 233px 0;
}
.mainDashboard .dashboard .logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  border-bottom: 1px solid #F4F7FE;
  padding: 0 32px 34px 32px;
}
.mainDashboard .dashboard .dashboardItems {
  padding: 40px 32px 200px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 32px;
}
.mainDashboard .dashboard .dashboardItems .dashboardItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.mainDashboard .dashboard .dashboardItems .dashboardItem .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 12px;
  cursor: pointer;
  margin-left: 169px;
}
.mainDashboard .dashboard .dashboardItems .dashboardItem .item h5 {
  white-space: nowrap;
}
.mainDashboard .dashboard .desDashboard {
  background: linear-gradient(#868CFF, #4318FF);
  margin: 0px 22px;
  border-radius: 24px;
  position: relative;
}
.mainDashboard .dashboard .desDashboard .MoonLogo {
  position: absolute;
  right: 15%;
  top: -35%;
}
.mainDashboard .dashboard .desDashboard .textDesDashboard {
  padding: 72px 18px 49px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.mainDashboard .dashboard .desDashboard .textDesDashboard h5 {
  padding-bottom: 9px;
  color: white;
  font-weight: 700;
}
.mainDashboard .dashboard .desDashboard .textDesDashboard h6 {
  color: white;
  text-align: center;
  font-weight: 400;
}

.NavbarCard {
  display: none;
  padding: 21px 16px;
  background-color: white;
  border-radius: 20px;
}
.NavbarCard .CardIcon {
  padding: 22px;
  border-radius: 50%;
  background-color: #F4F7FE;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.NavbarCard .CardIcon h6 {
  font-weight: 700;
  color: rgb(5, 205, 153);
}
.NavbarCard .desCard h6 {
  font-weight: 500;
  color: #A3AED0;
}
.NavbarCard .desCard h4 {
  font-weight: 700;
  color: #2B3674;
  width: 127px;
}
@media screen and (min-width: 1598px) {
  .NavbarCard .desCard h4 {
    width: 144px;
  }
}
@media screen and (min-width: 900px) {
  .NavbarCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 16px;
  }
}

.MobileNavbarCard {
  background-color: white;
  padding: 8px 10px 19px 10px;
  border-radius: 15px;
  height: 117px;
}
.MobileNavbarCard .MobileCardIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  padding-bottom: 12px;
}
.MobileNavbarCard .MobileCardIcon h6 {
  font-weight: 500;
  color: #A3AED0;
}
.MobileNavbarCard .MobileDesCard h6 {
  font-weight: 700;
  color: #2B3674;
}
.MobileNavbarCard .MobileDesCard .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.MobileNavbarCard .MobileDesCard .description span {
  color: rgb(5, 205, 153);
  font-weight: 400;
}
.MobileNavbarCard .MobileDesCard .description p {
  font-size: 8px;
  font-weight: 400;
}
@media screen and (min-width: 400px) {
  .MobileNavbarCard {
    padding: 8px 16px 19px 18px;
  }
}
@media screen and (min-width: 900px) {
  .MobileNavbarCard {
    display: none;
  }
}

.DesktopHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 6px 24px 16px 12px;
  width: 100%;
}
.DesktopHeader .DesktopHeaderTitle {
  display: none;
}
.DesktopHeader .DesktopHeaderTitle h6 {
  font-weight: 500;
  color: #707EAE;
}
.DesktopHeader .DesktopHeaderTitle h1 {
  font-weight: 700;
  color: #2B3674;
}
@media screen and (min-width: 900px) {
  .DesktopHeader .DesktopHeaderTitle {
    display: block;
  }
}
.DesktopHeader .hamburgerMenu {
  display: block;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.DesktopHeader .hamburgerMenu img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .DesktopHeader .hamburgerMenu {
    display: none;
  }
}
.DesktopHeader .NavbarDesktopHeader {
  background-color: transparent;
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 16px;
}
.DesktopHeader .NavbarDesktopHeader .InputHeader {
  display: none;
  position: relative;
}
.DesktopHeader .NavbarDesktopHeader .InputHeader input {
  border: none;
  border-radius: 20px;
  background-color: #F4F7FE;
  padding: 8px 18px;
  width: 139px;
}
.DesktopHeader .NavbarDesktopHeader .InputHeader input:focus {
  border: none;
  outline: none;
}
.DesktopHeader .NavbarDesktopHeader .InputHeader input:focus + .search-icon {
  opacity: 0;
}
@media screen and (min-width: 1000px) {
  .DesktopHeader .NavbarDesktopHeader .InputHeader input {
    width: 214px;
  }
}
.DesktopHeader .NavbarDesktopHeader .InputHeader img.search-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  opacity: 1;
}
@media screen and (min-width: 900px) {
  .DesktopHeader .NavbarDesktopHeader .InputHeader {
    display: block;
  }
}
.DesktopHeader .NavbarDesktopHeader .IconNavbarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  cursor: pointer;
}
.DesktopHeader .NavbarDesktopHeader .UserNavbarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.DesktopHeader .NavbarDesktopHeader .UserNavbarHeader img {
  border-radius: 50%;
}
@media screen and (min-width: 900px) {
  .DesktopHeader .NavbarDesktopHeader {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 30px;
  }
}
@media screen and (min-width: 900px) {
  .DesktopHeader {
    padding: 48px 16px 33px 16px;
  }
}
@media screen and (min-width: 1000px) {
  .DesktopHeader {
    padding: 48px 16px 33px 48px;
  }
}

.ShoppingCard {
  padding: 17px 21px 27px 21px;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  margin: 0 auto;
}
.ShoppingCard .ShoppingImage {
  position: relative;
  width: 100%;
}
.ShoppingCard .ShoppingImage .ShoppingImage {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.ShoppingCard .ShoppingImage .Favorite {
  position: absolute;
  top: 10px;
  right: 210px;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .ShoppingCard .ShoppingImage .Favorite {
    right: 260px;
  }
}
.ShoppingCard .ShoppingTitle {
  padding-top: 12px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.ShoppingCard .ShoppingTitle .title h4 {
  font-weight: 700;
  color: #2B3674;
}
.ShoppingCard .ShoppingTitle .title h6 {
  font-weight: 400;
  color: #A3AED0;
}
.ShoppingCard .ShoppingTitle .users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: -10px;
}
.ShoppingCard .ShoppingTitle .users .user {
  position: relative;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 35px;
  height: 35px;
  margin-right: -15px;
}
.ShoppingCard .ShoppingTitle .users .user img {
  border-radius: 50%;
  width: 100%;
}
.ShoppingCard .ShoppingTitle .users .NumberUsers {
  background-color: white;
  padding: 4px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.ShoppingCard .ShoppingTitle .users .NumberUsers .Number {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
  background-color: #E0E5F2;
  color: #4318FF;
  border-radius: 50%;
}
.ShoppingCard .ShoppingButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.ShoppingCard .ShoppingButton h6 {
  color: #4318FF;
  font-weight: 400;
}
.ShoppingCard .ShoppingButton .buttonShoppingCard button {
  padding: 5px 40px;
  border-radius: 70px;
  border: none;
  background-color: #11047A;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .ShoppingCard {
    width: 350px;
  }
}

.HomePage {
  display: flex;
  align-items: flex-start;
  background-color: #F4F7FE;
}
.HomePage .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.HomePage .overlay.visible {
  visibility: visible;
  opacity: 1;
}
.HomePage .Dashboard {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  position: absolute;
  z-index: 10;
}
.HomePage .Dashboard.visible {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 900px) {
  .HomePage .Dashboard {
    opacity: 1;
    position: static;
    visibility: visible;
  }
}
.HomePage .Main {
  width: 100%;
}
.HomePage .Main .Notifications {
  padding: 0 16px 24px 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .Notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .Notifications {
    padding: 0 16px 24px 48px;
  }
}
@media screen and (min-width: 1278px) {
  .HomePage .Main .Notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1516px) {
  .HomePage .Main .Notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.HomePage .Main .DesktopBody {
  padding: 0 16px;
}
.HomePage .Main .DesktopBody .incomeChart .weeklyIncome {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 24px;
  height: 345px;
  margin-bottom: 24px;
}
.HomePage .Main .DesktopBody .incomeChart .weeklyIncome .MobileHeaderWeeklyIncome {
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .weeklyIncome .MobileHeaderWeeklyIncome {
    display: none;
  }
}
.HomePage .Main .DesktopBody .incomeChart .weeklyIncome .MobileHeaderWeeklyIncome h6 {
  font-weight: 700;
  line-height: 14px;
}
.HomePage .Main .DesktopBody .incomeChart .weeklyIncome .MobileHeaderWeeklyIncome .icon {
  width: 32px;
  height: 28px;
  border-radius: 8px;
  background-color: #F4F7FE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .incomeChart .weeklyIncome .HeaderWeeklyIncome {
  padding-bottom: 32px;
  display: none;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .weeklyIncome .HeaderWeeklyIncome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.HomePage .Main .DesktopBody .incomeChart .weeklyIncome .HeaderWeeklyIncome h2 {
  font-weight: 700;
  line-height: 24px;
}
.HomePage .Main .DesktopBody .incomeChart .weeklyIncome .HeaderWeeklyIncome .icon {
  width: 36px;
  height: 33px;
  border-radius: 10px;
  background-color: #F4F7FE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .incomeChart .weeklyIncome .chartWeeklyIncome {
  width: 250px;
  height: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .incomeChart .weeklyIncome .chartWeeklyIncome {
    width: 300px;
  }
}
@media screen and (min-width: 600px) {
  .HomePage .Main .DesktopBody .incomeChart .weeklyIncome .chartWeeklyIncome {
    width: 335px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .weeklyIncome .chartWeeklyIncome {
    width: 223px;
  }
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .DesktopBody .incomeChart .weeklyIncome .chartWeeklyIncome {
    width: 90%;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .weeklyIncome {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .incomeChart .weeklyIncome {
    padding: 40px 58px;
  }
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 26px 32px 40px 31px;
  height: 345px;
  margin-bottom: 24px;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileHeaderMonthlyIncome {
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileHeaderMonthlyIncome {
    display: none;
  }
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileHeaderMonthlyIncome .month {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  padding: 4px 6px;
  background-color: #F4F7FE;
  border-radius: 7px;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileHeaderMonthlyIncome .month span {
  font-weight: 500;
  line-height: 24px;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileHeaderMonthlyIncome .icon {
  width: 32px;
  height: 28px;
  border-radius: 8px;
  background-color: #F4F7FE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .HeaderMonthlyIncome {
  padding-bottom: 13px;
  display: none;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .monthlyIncome .HeaderMonthlyIncome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .HeaderMonthlyIncome .month {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  padding: 6px 26px;
  background-color: #F4F7FE;
  border-radius: 7px;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .HeaderMonthlyIncome .month h6 {
  font-weight: 500;
  line-height: 24px;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .HeaderMonthlyIncome .icon {
  width: 36px;
  height: 33px;
  border-radius: 10px;
  background-color: #F4F7FE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileChartInformation {
  display: block;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileChartInformation h6 {
  color: #2B3674;
  font-weight: 700;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileChartInformation .details .Total {
  font-size: 8px;
  font-weight: 400;
  line-height: 20px;
  color: #A3AED0;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileChartInformation .details .Percent {
  font-weight: 400;
  line-height: 20px;
  color: #05CD99;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .monthlyIncome .MobileChartInformation {
    display: none;
  }
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartInformation {
  display: none;
  padding-right: 26px;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartInformation h1 {
  font-size: 24px;
  font-weight: 700;
  color: #2B3674;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartInformation .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartInformation .details h6 {
  font-weight: 700;
  line-height: 42px;
  color: #A3AED0;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartInformation .details .salary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartInformation .details .salary img {
  width: 100%;
  height: 100%;
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartInformation .details .salary p {
  color: #05CD99;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartInformation {
    display: block;
  }
}
.HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartMonthlyIncome {
  width: 250px;
  height: 190px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartMonthlyIncome {
    width: 300px;
  }
}
@media screen and (min-width: 600px) {
  .HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartMonthlyIncome {
    width: 335px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartMonthlyIncome {
    width: 218px;
    height: 180px;
  }
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .DesktopBody .incomeChart .monthlyIncome .ChartMonthlyIncome {
    width: 90%;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart .monthlyIncome {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .incomeChart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding-bottom: 16px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-bottom: 24px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart {
  padding: 19px 12px 21px 8px;
  border-radius: 15px;
  background-color: white;
  width: 100%;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .MobileHeaderCircleChart {
  padding-bottom: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .MobileHeaderCircleChart h6 {
  font-weight: 500;
  color: #2B3674;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .MobileHeaderCircleChart .DropDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .MobileHeaderCircleChart .DropDown span {
  color: #A3AED0;
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .MobileHeaderCircleChart .DropDown {
    gap: 8px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .MobileHeaderCircleChart {
    display: none;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .HeaderCircleChart {
  display: none;
  padding-bottom: 21px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .HeaderCircleChart h5 {
  font-weight: 700;
  color: #2B3674;
  white-space: nowrap;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .HeaderCircleChart .DropDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .HeaderCircleChart .DropDown p {
  color: #A3AED0;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .HeaderCircleChart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chart {
  width: 92px;
  height: 92px;
  padding-bottom: 5px;
  margin: 0 auto;
}
@media screen and (min-width: 700px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chart {
    padding-bottom: 21px;
    width: 140px;
    height: 140px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chart {
    padding-bottom: 21px;
    width: 144px;
    height: 144px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 18px 40px 0 rgba(112, 144, 176, 0.1215686275);
  padding: 6px 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .System {
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 2px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .System span {
  color: #A3AED0;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .System {
    display: none;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopSystem {
  display: none;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopSystem .percent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 5px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopSystem .percent p {
  color: #A3AED0;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopSystem h5 {
  color: #2B3674;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopSystem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .File {
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 2px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .File span {
  color: #A3AED0;
  white-space: nowrap;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .File {
    display: none;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopFile {
  display: none;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopFile .percent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 5px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopFile .percent p {
  color: #A3AED0;
  white-space: nowrap;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopFile h5 {
  color: #2B3674;
  white-space: nowrap;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation .DesktopFile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation {
    padding: 6px 9px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation {
    padding: 17px 10px 22px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation {
    gap: 8px;
  }
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart .chartInformation {
    padding: 17px 57px 22px 40px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart {
    padding: 27px 21px 36px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart {
    height: 345px;
    padding: 27px 19px 36px 19px;
  }
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .circleChart {
    padding: 27px 21px 36px 32px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart {
  border-radius: 15px;
  background-color: white;
  padding: 8px 12px;
  width: 100%;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .MobileHeaderBarChart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: 8px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .MobileHeaderBarChart .Up {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .MobileHeaderBarChart .Up span {
  color: #05CD99;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .MobileHeaderBarChart {
    display: none;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .MobileInformationBarChart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  padding-bottom: 8px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .MobileInformationBarChart h6 {
  color: #2B3674;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .MobileInformationBarChart span {
  color: #A3AED0;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .MobileInformationBarChart {
    display: none;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .HeaderBarChart {
  display: none;
  padding-bottom: 8px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .HeaderBarChart .Up {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .HeaderBarChart .Up p {
  color: #05CD99;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .HeaderBarChart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .InformationBarChart {
  display: none;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .InformationBarChart h1 {
  color: #2B3674;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .InformationBarChart h6 {
  color: #A3AED0;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .InformationBarChart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
    padding-bottom: 25px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 3px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle .BarCharts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle .BarCharts .Bar {
  background: linear-gradient(180deg, rgb(67, 24, 255) 0%, rgba(67, 24, 255, 0.28) 100%);
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle .BarCharts p {
  display: none;
  color: #B0BBD5;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle .BarCharts p {
    display: block;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle .BarCharts span {
  display: block;
  color: #B0BBD5;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle .BarCharts span {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle .BarCharts {
    gap: 16px;
  }
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle {
    gap: 10px;
  }
}
@media screen and (min-width: 600px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle {
    gap: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle {
    gap: 10px;
  }
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart .BarChartSingle {
    gap: 28px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart {
    padding: 25px 15px 39px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart {
    padding: 25px 19px 39px 19px;
    height: 345px;
  }
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts .BarChart {
    padding: 25px 37px 39px 37px;
    height: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Charts {
    padding-bottom: 0;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table {
  padding: 21px 12px;
  border-radius: 15px;
  background-color: white;
  width: 100%;
  margin-bottom: 16px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable {
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable h2 {
  display: none;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable h2 {
    display: block;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable h6 {
  display: block;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable h6 {
    display: none;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable .Option {
  width: 32px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 12px;
  background-color: #F4F7FE;
  position: relative;
  cursor: pointer;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable .Option .DropDownChart {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.2s, max-height 0.2s;
  padding: 20px 20px 4px 100px;
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 10;
  border-radius: 16px;
  border: 1px solid #B0BBD5;
  box-shadow: 0 18px 40px 0 rgba(112, 144, 176, 0.1215686275);
  background-color: white;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable .Option .DropDownChart h5 {
  cursor: pointer;
  padding-bottom: 16px;
  display: none;
  white-space: nowrap;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable .Option .DropDownChart h5 {
    display: block;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable .Option .DropDownChart p {
  cursor: pointer;
  display: block;
  padding-bottom: 16px;
  white-space: nowrap;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable .Option .DropDownChart p {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable .Option .DropDownChart {
    padding: 40px 40px 34px 166px;
    top: 37px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .HeaderTable .Option {
    width: 37px;
    height: 37px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead {
  padding-bottom: 12px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr th {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: #A3AED0;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr th {
    font-size: 14px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Name {
  padding-left: 80px;
  padding-bottom: 12px;
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Name {
    padding-left: 95px;
  }
}
@media screen and (min-width: 600px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Name {
    padding-left: 200px;
  }
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Name {
    padding-left: 225px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Name {
    padding-left: 100px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Name {
    padding-left: 233px;
    padding-bottom: 28px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Advance {
  padding-left: 12px;
  padding-bottom: 12px;
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Advance {
    padding-left: 24px;
  }
}
@media screen and (min-width: 600px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Advance {
    padding-left: 90px;
  }
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Advance {
    padding-left: 115px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Advance {
    padding-left: 25px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Advance {
    padding-left: 116px;
    padding-bottom: 28px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Count {
  padding-left: 18px;
  padding-bottom: 12px;
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Count {
    padding-left: 49px;
  }
}
@media screen and (min-width: 600px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Count {
    padding-left: 70px;
  }
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Count {
    padding-left: 95px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Count {
    padding-left: 40px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Count {
    padding-left: 141px;
    padding-bottom: 28px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Date {
  padding-bottom: 12px;
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table thead tr .Date {
    padding-bottom: 28px;
  }
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table tbody {
  height: 88px;
  overflow-y: auto;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table tbody tr {
  padding-bottom: 12px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table tbody tr td {
  font-size: 12px;
  color: #2B3674;
  font-weight: 700;
  padding-bottom: 16px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table tbody tr td label {
  font-size: 12px;
  font-weight: 500;
  color: #6D7175;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table tbody tr .CheckBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 3px;
}
.HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table tbody tr .CheckBox input {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table tbody tr .CheckBox input {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table .BodyTable table tbody tr .CheckBox {
    gap: 11px;
  }
}
@media screen and (min-width: 400px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table {
    padding: 21px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables .Table {
    height: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .HomePage .Main .DesktopBody .ChartsAndTables {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox {
  background-color: white;
  border-radius: 20px;
  padding: 26px 14px;
  margin-bottom: 16px;
  width: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage {
  position: relative;
  height: 210px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-image: linear-gradient(to top, rgb(17, 28, 68), rgba(17, 28, 68, 0)), url("../../../assets/image/StarBox.png");
  background-size: cover;
  background-position: center;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage .StarBox {
  width: 100%;
  height: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage .Star {
  position: absolute;
  top: 175px;
  right: 23px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage .boxWatchLater {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.47);
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage {
    width: 316px;
    height: 170px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox h2 {
  padding-bottom: 8px;
  color: #2B3674;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .CashBack {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .CashBack h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #A3AED0;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox {
    height: 345px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo {
  background-color: white;
  border-radius: 20px;
  padding: 32px 30px 23px 30px;
  margin-bottom: 16px;
  width: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo h2 {
  color: #2B3674;
  word-spacing: -2px;
  padding-bottom: 14px;
  padding-right: 10px;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo h2 {
    width: 198px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo h6 {
  color: #A3AED0;
  padding-bottom: 15px;
  padding-right: 10px;
}
@media screen and (min-width: 1559px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo h6 {
    padding-bottom: 35px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo .buttonNotificationBelowTwo {
  width: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo .buttonNotificationBelowTwo button {
  width: 100%;
  border-radius: 16px;
  background-color: #4318FF;
  color: white;
  padding: 11px 0;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo {
    height: 345px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers {
  background-color: white;
  border-radius: 20px;
  padding: 18px 23px 26px 23px;
  width: 100%;
  height: 345px;
  margin-bottom: 16px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .HeaderTeamMembers {
  padding-bottom: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .HeaderTeamMembers h4 {
  color: #2B3674;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .HeaderTeamMembers .AddTeamMember {
  width: 37px;
  height: 37px;
  border-radius: 10px;
  background-color: #F4F7FE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 194px;
  cursor: pointer;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .HeaderTeamMembers .AddTeamMember img {
  width: 24px;
  height: 24px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard {
  margin-bottom: 17px;
  padding: 11px 36px 11px 0;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 0 18px 40px 0 rgba(112, 144, 176, 0.1215686275);
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard:last-child {
  margin-bottom: 0;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard .TeamMemberCardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 18px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard .TeamMemberCardTitle .title h5 {
  color: #2B3674;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard .TeamMemberCardTitle .title p {
  color: #A3AED0;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 18px 33px 22px 33px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 12px;
  padding-bottom: 47px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews .icon {
  width: 38px;
  height: 38px;
  background-color: #FEEFEE;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews .icon img {
  width: 28px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews .TitleHeader p {
  color: #A3AED0;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews .TitleHeader h5 {
  color: #2B3674;
  letter-spacing: -2px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .TitleNotificationBelowNews {
  padding-bottom: 40px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .TitleNotificationBelowNews h3 {
  letter-spacing: -2px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 26px;
  padding-bottom: 37px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews .timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 6px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews .timer h6 {
  color: #2B3674;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews .slowMotion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 6px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews .slowMotion h6 {
  color: #2B3674;
}
@media screen and (min-width: 1063px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews {
    padding-bottom: 74px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .button button {
  padding: 8px 17px;
  background-color: #4318FF;
  color: white;
  border-radius: 16px;
  border: none;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 1063px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .button button {
    padding: 8px 35px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: -10px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users .user {
  position: relative;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 35px;
  height: 35px;
  margin-right: -15px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users .user img {
  border-radius: 50%;
  width: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users .NumberUsers {
  background-color: white;
  padding: 4px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users .NumberUsers .Number {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
  background-color: #E0E5F2;
  color: #4318FF;
  border-radius: 50%;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews {
    height: 345px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .NotificationsBelow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .DesktopBody {
    padding: 0 16px 0 48px;
  }
}

/*# sourceMappingURL=main.css.map */
