*, body, html {
  font-family: "IRAN-sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 28px;
}

h6 {
  font-size: 14px;
  line-height: 24px;
}

p {
  font-size: 12px;
  line-height: 20px;
}

span {
  font-size: 10px;
}

.bold {
  font-weight: 900;
}

.medium {
  font-weight: 700;
}

.small {
  font-weight: 500;
}

@font-face {
  font-family: "IRAN-sans";
  src: url("../font/IranianSans.ttf") format("ttf"), local();
}
.active {
  color: #2B3674;
}

.borderActive {
  width: 4px;
  border-radius: 25px;
  height: 36px;
  background-color: #4318FF;
}

.diActive {
  color: #A3AED0;
}

.mainDashboard {
  background-color: #F4F7FE;
}
.mainDashboard .dashboard {
  background-color: white;
  width: 290px;
  height: auto;
  padding: 40px 0 233px 0;
}
.mainDashboard .dashboard .logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  border-bottom: 1px solid #F4F7FE;
  padding: 0 32px 34px 32px;
}
.mainDashboard .dashboard .dashboardItems {
  padding: 40px 32px 200px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 32px;
}
.mainDashboard .dashboard .dashboardItems .dashboardItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.mainDashboard .dashboard .dashboardItems .dashboardItem .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 12px;
  cursor: pointer;
  margin-left: 165px;
}
.mainDashboard .dashboard .dashboardItems .dashboardItem .item h5 {
  white-space: nowrap;
}
.mainDashboard .dashboard .desDashboard {
  background: linear-gradient(#868CFF, #4318FF);
  margin: 0px 22px;
  border-radius: 24px;
  position: relative;
}
.mainDashboard .dashboard .desDashboard .MoonLogo {
  position: absolute;
  right: 15%;
  top: -35%;
}
.mainDashboard .dashboard .desDashboard .textDesDashboard {
  padding: 72px 18px 49px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.mainDashboard .dashboard .desDashboard .textDesDashboard h5 {
  padding-bottom: 9px;
  color: white;
  font-weight: 700;
}
.mainDashboard .dashboard .desDashboard .textDesDashboard h6 {
  color: white;
  text-align: center;
  font-weight: 400;
}

.NavbarCard {
  display: none;
  padding: 21px 16px;
  background-color: white;
  border-radius: 20px;
}
.NavbarCard .CardIcon {
  padding: 22px;
  border-radius: 50%;
  background-color: #F4F7FE;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.NavbarCard .CardIcon h6 {
  font-weight: 700;
  color: rgb(5, 205, 153);
}
.NavbarCard .desCard h6 {
  font-weight: 500;
  color: #A3AED0;
}
.NavbarCard .desCard h4 {
  font-weight: 700;
  color: #2B3674;
  width: 127px;
}
@media screen and (min-width: 1598px) {
  .NavbarCard .desCard h4 {
    width: 144px;
  }
}
@media screen and (min-width: 900px) {
  .NavbarCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 16px;
  }
}

.MobileNavbarCard {
  background-color: white;
  padding: 8px 10px 19px 10px;
  border-radius: 15px;
  height: 117px;
}
.MobileNavbarCard .MobileCardIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  padding-bottom: 12px;
}
.MobileNavbarCard .MobileCardIcon h6 {
  font-weight: 500;
  color: #A3AED0;
}
.MobileNavbarCard .MobileDesCard h6 {
  font-weight: 700;
  color: #2B3674;
}
.MobileNavbarCard .MobileDesCard .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.MobileNavbarCard .MobileDesCard .description span {
  color: rgb(5, 205, 153);
  font-weight: 400;
}
.MobileNavbarCard .MobileDesCard .description p {
  font-size: 8px;
  font-weight: 400;
}
@media screen and (min-width: 400px) {
  .MobileNavbarCard {
    padding: 8px 16px 19px 18px;
  }
}
@media screen and (min-width: 900px) {
  .MobileNavbarCard {
    display: none;
  }
}

.DesktopHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 6px 24px 16px 12px;
  width: 100%;
}
.DesktopHeader .DesktopHeaderTitle {
  display: none;
}
.DesktopHeader .DesktopHeaderTitle h6 {
  font-weight: 500;
  color: #707EAE;
}
.DesktopHeader .DesktopHeaderTitle h1 {
  font-weight: 700;
  color: #2B3674;
}
@media screen and (min-width: 900px) {
  .DesktopHeader .DesktopHeaderTitle {
    display: block;
  }
}
.DesktopHeader .hamburgerMenu {
  display: block;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.DesktopHeader .hamburgerMenu img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .DesktopHeader .hamburgerMenu {
    display: none;
  }
}
.DesktopHeader .NavbarDesktopHeader {
  background-color: transparent;
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 16px;
}
.DesktopHeader .NavbarDesktopHeader .InputHeader {
  display: none;
  position: relative;
}
.DesktopHeader .NavbarDesktopHeader .InputHeader input {
  border: none;
  border-radius: 20px;
  background-color: #F4F7FE;
  padding: 8px 18px;
  width: 139px;
}
.DesktopHeader .NavbarDesktopHeader .InputHeader input:focus {
  border: none;
  outline: none;
}
.DesktopHeader .NavbarDesktopHeader .InputHeader input:focus + .search-icon {
  opacity: 0;
}
@media screen and (min-width: 1000px) {
  .DesktopHeader .NavbarDesktopHeader .InputHeader input {
    width: 214px;
  }
}
.DesktopHeader .NavbarDesktopHeader .InputHeader img.search-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  opacity: 1;
}
@media screen and (min-width: 900px) {
  .DesktopHeader .NavbarDesktopHeader .InputHeader {
    display: block;
  }
}
.DesktopHeader .NavbarDesktopHeader .IconNavbarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  cursor: pointer;
}
.DesktopHeader .NavbarDesktopHeader .UserNavbarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.DesktopHeader .NavbarDesktopHeader .UserNavbarHeader img {
  border-radius: 50%;
}
@media screen and (min-width: 900px) {
  .DesktopHeader .NavbarDesktopHeader {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 30px;
  }
}
@media screen and (min-width: 900px) {
  .DesktopHeader {
    padding: 48px 16px 33px 16px;
  }
}
@media screen and (min-width: 1000px) {
  .DesktopHeader {
    padding: 48px 16px 33px 48px;
  }
}

.ShoppingCard {
  padding: 17px 21px 27px 21px;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  margin: 0 auto;
}
.ShoppingCard .ShoppingImage {
  position: relative;
  width: 100%;
}
.ShoppingCard .ShoppingImage .ShoppingImage {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.ShoppingCard .ShoppingImage .Favorite {
  position: absolute;
  top: 10px;
  right: 210px;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .ShoppingCard .ShoppingImage .Favorite {
    right: 260px;
  }
}
.ShoppingCard .ShoppingTitle {
  padding-top: 12px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.ShoppingCard .ShoppingTitle .title h4 {
  font-weight: 700;
  color: #2B3674;
}
.ShoppingCard .ShoppingTitle .title h6 {
  font-weight: 400;
  color: #A3AED0;
}
.ShoppingCard .ShoppingTitle .users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: -10px;
}
.ShoppingCard .ShoppingTitle .users .user {
  position: relative;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 35px;
  height: 35px;
  margin-right: -15px;
}
.ShoppingCard .ShoppingTitle .users .user img {
  border-radius: 50%;
  width: 100%;
}
.ShoppingCard .ShoppingTitle .users .NumberUsers {
  background-color: white;
  padding: 4px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.ShoppingCard .ShoppingTitle .users .NumberUsers .Number {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
  background-color: #E0E5F2;
  color: #4318FF;
  border-radius: 50%;
}
.ShoppingCard .ShoppingButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.ShoppingCard .ShoppingButton h6 {
  color: #4318FF;
  font-weight: 400;
}
.ShoppingCard .ShoppingButton .buttonShoppingCard button {
  padding: 5px 40px;
  border-radius: 70px;
  border: none;
  background-color: #11047A;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .ShoppingCard {
    width: 350px;
  }
}

.HomePage {
  display: flex;
  align-items: flex-start;
  background-color: #F4F7FE;
}
.HomePage .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.HomePage .overlay.visible {
  visibility: visible;
  opacity: 1;
}
.HomePage .Dashboard {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  position: absolute;
  z-index: 10;
}
.HomePage .Dashboard.visible {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 900px) {
  .HomePage .Dashboard {
    opacity: 1;
    position: static;
    visibility: visible;
  }
}
.HomePage .Main {
  width: 100%;
}
.HomePage .Main .Notifications {
  padding: 0 16px 24px 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .Notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .Notifications {
    padding: 0 16px 24px 48px;
  }
}
@media screen and (min-width: 1278px) {
  .HomePage .Main .Notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1516px) {
  .HomePage .Main .Notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.HomePage .Main .DesktopBody {
  padding: 0 16px;
}
.HomePage .Main .DesktopBody .NotificationsBelow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox {
  background-color: white;
  border-radius: 20px;
  padding: 26px 14px;
  margin-bottom: 16px;
  width: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage {
  position: relative;
  height: 210px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-image: linear-gradient(to top, rgb(17, 28, 68), rgba(17, 28, 68, 0)), url("../../../assets/image/StarBox.png");
  background-size: cover;
  background-position: center;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage .StarBox {
  width: 100%;
  height: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage .Star {
  position: absolute;
  top: 175px;
  right: 23px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage .boxWatchLater {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.47);
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .StarBoxImage {
    width: 316px;
    height: 170px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox h2 {
  padding-bottom: 8px;
  color: #2B3674;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .CashBack {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox .CashBack h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #A3AED0;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowStarBox {
    height: 345px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo {
  background-color: white;
  border-radius: 20px;
  padding: 32px 30px 23px 30px;
  margin-bottom: 16px;
  width: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo h2 {
  color: #2B3674;
  word-spacing: -2px;
  padding-bottom: 14px;
  padding-right: 10px;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo h2 {
    width: 198px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo h6 {
  color: #A3AED0;
  padding-bottom: 15px;
  padding-right: 10px;
}
@media screen and (min-width: 1559px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo h6 {
    padding-bottom: 35px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo .buttonNotificationBelowTwo {
  width: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo .buttonNotificationBelowTwo button {
  width: 100%;
  border-radius: 16px;
  background-color: #4318FF;
  color: white;
  padding: 11px 0;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowTwo {
    height: 345px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers {
  background-color: white;
  border-radius: 20px;
  padding: 18px 23px 26px 23px;
  width: 100%;
  height: 345px;
  margin-bottom: 16px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .HeaderTeamMembers {
  padding-bottom: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .HeaderTeamMembers h4 {
  color: #2B3674;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .HeaderTeamMembers .AddTeamMember {
  width: 37px;
  height: 37px;
  border-radius: 10px;
  background-color: #F4F7FE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 194px;
  cursor: pointer;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .HeaderTeamMembers .AddTeamMember img {
  width: 24px;
  height: 24px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard {
  margin-bottom: 17px;
  padding: 11px 36px 11px 0;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 0 18px 40px 0 rgba(112, 144, 176, 0.1215686275);
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard:last-child {
  margin-bottom: 0;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard .TeamMemberCardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 18px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard .TeamMemberCardTitle .title h5 {
  color: #2B3674;
}
.HomePage .Main .DesktopBody .NotificationsBelow .TeamMembers .TeamMemberCards .TeamMemberCard .TeamMemberCardTitle .title p {
  color: #A3AED0;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 18px 33px 22px 33px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 12px;
  padding-bottom: 47px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews .icon {
  width: 38px;
  height: 38px;
  background-color: #FEEFEE;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews .icon img {
  width: 28px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews .TitleHeader p {
  color: #A3AED0;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .HeaderNotificationBelowNews .TitleHeader h5 {
  color: #2B3674;
  letter-spacing: -2px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .TitleNotificationBelowNews {
  padding-bottom: 40px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .TitleNotificationBelowNews h3 {
  letter-spacing: -2px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 26px;
  padding-bottom: 37px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews .timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 6px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews .timer h6 {
  color: #2B3674;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews .slowMotion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 6px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews .slowMotion h6 {
  color: #2B3674;
}
@media screen and (min-width: 1063px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .InformationNotificationBelowNews {
    padding-bottom: 74px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .button button {
  padding: 8px 17px;
  background-color: #4318FF;
  color: white;
  border-radius: 16px;
  border: none;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 1063px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .button button {
    padding: 8px 35px;
  }
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: -10px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users .user {
  position: relative;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 35px;
  height: 35px;
  margin-right: -15px;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users .user img {
  border-radius: 50%;
  width: 100%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users .NumberUsers {
  background-color: white;
  padding: 4px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews .buttonNotificationBelowNews .users .NumberUsers .Number {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
  background-color: #E0E5F2;
  color: #4318FF;
  border-radius: 50%;
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow .NotificationBelowNews {
    height: 345px;
  }
}
@media screen and (min-width: 900px) {
  .HomePage .Main .DesktopBody .NotificationsBelow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1788px) {
  .HomePage .Main .DesktopBody .NotificationsBelow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1000px) {
  .HomePage .Main .DesktopBody {
    padding: 0 16px 0 48px;
  }
}

/*# sourceMappingURL=main.css.map */
