.mainDashboard {
  background-color: map-get($primary, one);
  //height: 200vh;

  .dashboard {
    background-color: white;
    width: 290px;
    height: auto;
    padding: 40px 0 233px 0 ;

    .logo {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 8px;
      border-bottom: 1px solid #F4F7FE;
      padding: 0 32px 34px 32px;
    }

    .dashboardItems {
      padding: 40px 32px 200px 32px;
      @include flex(column, flex-start, space-between, nowrap);
      gap: 32px;

      .dashboardItem {
        @include flex(row, center, flex-start, nowrap);

        .item {
          @include flex(row, center, flex-start, nowrap);
          gap: 12px;
          cursor: pointer;
          margin-left: 160px;

          svg{
            path{
              fill: map-get($primary , main);
            }
          }

          h5 {
            white-space: nowrap;
          }
        }

        .MarketItem{
          margin-left: 157px;
        }

        .TableItem{
          margin-left: 154px;
        }
      }
    }

    .desDashboard {
      background: $gradient-2;
      margin: 0px 22px;
      border-radius: 24px;
      position: relative;
      .MoonLogo {
        position: absolute;
        right: 30%;
        top: -25%;
        background-color: white;
        width: 94px;
        height: 94px;
        border-radius: 50%;
        .Logo{
          background-color: map-get($primary , main);
          width: 84px;
          height: 84px;
          border-radius: 50%;
          position: absolute;
          top: 5%;
          right: 5%;
        }
      }

      .textDesDashboard {
        padding: 72px 18px 49px 18px;
        @include flex(column, center, center, nowrap);

        h5 {
          padding-bottom: 9px;
          color: white;
          font-weight: 700;
        }

        h6 {
          color: white;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
}