.DesktopHeader {
  @include flex(row, center, space-between, nowrap);
  padding: 6px 24px 16px 12px;
  width: 100%;


  .DesktopHeaderTitle {
    display: none;

    h6 {
      font-weight: 500;
      color: map-get($primary, eight);
    }

    h1 {
      font-weight: 700;
      color: map-get($primary, primary);
    }

    @media screen and (min-width: 900px) {
      display: block;
    }
  }

  .hamburgerMenu {
    display: block;
    width: 28px;
    height: 28px;
    @include flex(row , center , center , nowrap);
    img {
      width: 100%;
      height: 100%;
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  .NavbarDesktopHeader {
    background-color: transparent;
    padding: 10px 12px;
    @include flex(row, center, space-between, nowrap);
    gap: 16px;

    .InputHeader {
      display: none;
      position: relative;

      input {
        border: none;
        border-radius: 20px;
        background-color: map-get($primary, one);
        padding: 8px 18px;
        width: 139px;

        &:focus {
          border: none;
          outline: none;
        }

        &:focus + .search-icon {
          opacity: 0;
        }
        @media screen and (min-width: 1000px) {
          width: 214px;
        }
      }

      img.search-icon {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.3s ease;
        opacity: 1;
      }

      @media screen and (min-width: 900px) {
        display: block;
      }
    }

    .IconNavbarHeader {
      @include flex(row, center, center, nowrap);
      gap: 20px;
      cursor: pointer;

    }

    .UserNavbarHeader {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      img {
        border-radius: 50%;
      }
    }

    @media screen and (min-width: 900px) {
      background-color: white;
      @include flex(row, center, space-between, nowrap);
      gap: 20px;
      border-radius: 30px;
    }
  }
  @media screen and (min-width: 900px) {
    padding: 48px 16px 33px 16px;
  }
  @media screen and (min-width: 1000px) {
    padding: 48px 16px 33px 48px;
  }
}