.HomePage {
  display: flex;
  align-items: flex-start;
  background-color: map-get($primary, one);
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  .Dashboard{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    position: absolute;
    z-index: 10;
    &.visible {
      opacity: 1;
      visibility: visible;
    }
    @media screen and (min-width: 900px) {
      opacity: 1;
      position: static;
      visibility: visible;
    }
  }
  .Main{
    width: 100%;
  }
}