.HomePage {
  display: flex;
  align-items: flex-start;
  background-color: map-get($primary, one);

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  .Dashboard {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    position: absolute;
    z-index: 10;

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    @media screen and (min-width: 900px) {
      opacity: 1;
      position: static;
      visibility: visible;
    }
  }

  .Main {
    width: 100%;

    .Notifications {
      padding: 0 16px 24px 16px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      @media screen and (min-width: 900px) {
        @include flex(row, center, space-between, wrap);
      }
      @media screen and (min-width: 1000px) {
        padding: 0 16px 24px 48px;
      }

      @media screen and (min-width: 1278px) {
        @include flex(row, center, flex-start, wrap);
      }

      @media screen and (min-width: 1516px) {
        @include flex(row, center, space-between, wrap);
      }
    }

    .DesktopBody {
      padding: 0 16px;

      .incomeChart {
        .weeklyIncome {
          width: 100%;
          background-color: white;
          border-radius: 20px;
          padding: 24px;
          height: 345px;
          margin-bottom: 24px;

          .MobileHeaderWeeklyIncome {
            padding-bottom: 32px;
            @include flex(row, center, space-between, nowrap);
            @media screen and (min-width: 900px) {
              display: none;
            }

            h6 {
              font-weight: 700;
              line-height: 14px;
            }

            .icon {
              width: 32px;
              height: 28px;
              border-radius: 8px;
              background-color: map-get($primary, one);
              @include flex(row, center, center, nowrap);
            }
          }

          .HeaderWeeklyIncome {
            padding-bottom: 32px;
            display: none;
            @media screen and (min-width: 900px) {
              @include flex(row, center, space-between, nowrap);
            }

            h2 {
              font-weight: 700;
              line-height: 24px;
            }

            .icon {
              width: 36px;
              height: 33px;
              border-radius: 10px;
              background-color: map-get($primary, one);
              @include flex(row, center, center, nowrap);
            }
          }


          .chartWeeklyIncome {
            width: 250px;
            height: 200px;
            margin: 0 auto;
            @media screen and (min-width: 400px) {
              width: 300px;
            }
            @media screen and (min-width: 600px) {
              width: 335px;
            }
            @media screen and (min-width: 900px) {
              width: 223px;
            }
            @media screen and (min-width: 1000px) {
              width: 90%;
            }
          }

          @media screen and (min-width: 900px) {
            margin-bottom: 0;
          };
          @media screen and (min-width: 1200px) {
            padding: 40px 58px;
          };
        }

        .monthlyIncome {
          width: 100%;
          background-color: white;
          border-radius: 20px;
          padding: 26px 32px 40px 31px;
          height: 345px;
          margin-bottom: 24px;


          .MobileHeaderMonthlyIncome {
            padding-bottom: 32px;
            @include flex(row, center, space-between, nowrap);
            @media screen and (min-width: 900px) {
              display: none;
            }

            .month {
              @include flex(row, flex-start, flex-start, nowrap);
              gap: 6px;
              padding: 4px 6px;
              background-color: map-get($primary, one);
              border-radius: 7px;

              span {
                font-weight: 500;
                line-height: 24px;
              }
            }

            .icon {
              width: 32px;
              height: 28px;
              border-radius: 8px;
              background-color: map-get($primary, one);
              @include flex(row, center, center, nowrap);
            }
          }

          .HeaderMonthlyIncome {
            padding-bottom: 13px;
            display: none;
            @media screen and (min-width: 900px) {
              @include flex(row, center, space-between, nowrap);
            }

            .month {
              @include flex(row, flex-start, flex-start, nowrap);
              gap: 6px;
              padding: 6px 26px;
              background-color: map-get($primary, one);
              border-radius: 7px;

              h6 {
                font-weight: 500;
                line-height: 24px;
              }
            }

            .icon {
              width: 36px;
              height: 33px;
              border-radius: 10px;
              background-color: map-get($primary, one);
              @include flex(row, center, center, nowrap);
            }
          }

          .MobileChartInformation {
            display: block;

            h6 {
              color: map-get($primary, primary);
              font-weight: 700;
            }

            .details {
              .Total {
                font-size: 8px;
                font-weight: 400;
                line-height: 20px;
                color: map-get($primary, secondary);
              }

              img {
              }

              .Percent {
                font-weight: 400;
                line-height: 20px;
                color: #05CD99;
              }
            }

            @media screen and (min-width: 900px) {
              display: none;
            }
          }

          .ChartInformation {
            display: none;
            padding-right: 26px;

            h1 {
              font-size: 24px;
              font-weight: 700;
              //line-height: 42px;
              color: map-get($primary, primary);
            }

            .details {
              @include flex(row, center, flex-start, nowrap);
              gap: 8px;

              h6 {
                font-weight: 700;
                line-height: 42px;
                color: map-get($primary, secondary);
              }

              .salary {
                @include flex(row, center, flex-start, nowrap);
                gap: 4px;

                img {
                  width: 100%;
                  height: 100%;
                }

                p {
                  color: #05CD99;
                  font-weight: 700;
                }
              }
            }

            @media screen and (min-width: 900px) {
              display: block;
            }
          }

          .ChartMonthlyIncome {
            width: 250px;
            height: 190px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (min-width: 400px) {
              width: 300px;
            }
            @media screen and (min-width: 600px) {
              width: 335px;
            }
            @media screen and (min-width: 900px) {
              width: 218px;
              height: 180px;
            }
            @media screen and (min-width: 1000px) {
              width: 90%;
            }
          }


          @media screen and (min-width: 900px) {
            margin-bottom: 0;
          }
        }

        @media screen and (min-width: 900px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
          padding-bottom: 16px;
        }
      }

      .ChartsAndTables {
        .Charts {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
          padding-bottom: 24px;

          .circleChart {
            padding: 19px 12px 21px 8px;
            border-radius: 15px;
            background-color: white;
            width: 100%;

            .MobileHeaderCircleChart {
              padding-bottom: 13px;
              @include flex(row, center, space-between, nowrap);
              width: 100%;

              p {
                font-weight: 700;
                color: map-get($primary, primary);
                white-space: nowrap;
                @media screen and (min-width: 400px) {
                  display: none;
                }
              }

              h6 {
                font-weight: 700;
                color: map-get($primary, primary);
                white-space: nowrap;
                display: none;
                @media screen and (min-width: 400px) {
                  display: block;
                }
              }

              .DropDown {
                @include flex(row, center, center, nowrap);
                gap: 2px;

                span {
                  color: map-get($primary, secondary);
                }

                @media screen and (min-width: 400px) {
                  gap: 8px;
                }
              }


              @media screen and (min-width: 900px) {
                display: none;
              }
            }


            .HeaderCircleChart {
              display: none;
              padding-bottom: 21px;

              h5 {
                font-weight: 700;
                color: map-get($primary, primary);
                white-space: nowrap;

              }

              .DropDown {
                @include flex(row, center, center, nowrap);
                gap: 8px;

                p {
                  color: map-get($primary, secondary);
                }
              }


              @media screen and (min-width: 900px) {
                @include flex(row, center, space-between, nowrap);
              }
            }


            .chart {
              width: 92px;
              height: 92px;
              padding-bottom: 5px;
              margin: 0 auto;
              @media screen and (min-width: 700px) {
                padding-bottom: 21px;
                width: 140px;
                height: 140px;
              }
              @media screen and (min-width: 900px) {
                padding-bottom: 21px;
                width: 144px;
                height: 144px;
              }
            }


            .chartInformation {
              background-color: white;
              border-radius: 10px;
              box-shadow: 0 18px 40px 0 #7090B01F;
              padding: 6px 6px;

              @include flex(row, center, space-between, nowrap);


              .System {
                display: block;
                @include flex(row, center, flex-start, nowrap);
                gap: 2px;

                span {
                  color: map-get($primary, secondary);
                }

                @media screen and (min-width: 900px) {
                  display: none;
                }

              }

              .DesktopSystem {
                display: none;

                .percent {
                  @include flex(row-reverse, center, flex-end, nowrap);
                  gap: 5px;

                  p {
                    color: map-get($primary, secondary);
                  }
                }

                h5 {
                  color: map-get($primary, primary);
                }

                @media screen and (min-width: 900px) {
                  @include flex(column, center, center, nowrap);
                }
              }


              .File {
                display: block;
                @include flex(row, center, flex-start, nowrap);
                gap: 2px;

                span {
                  color: map-get($primary, secondary);
                  white-space: nowrap;

                }

                @media screen and (min-width: 900px) {
                  display: none;
                }
              }

              .DesktopFile {
                display: none;

                .percent {
                  @include flex(row-reverse, center, flex-end, nowrap);
                  gap: 5px;

                  p {
                    color: map-get($primary, secondary);
                    white-space: nowrap;
                  }
                }

                h5 {
                  color: map-get($primary, primary);
                  white-space: nowrap;
                }

                @media screen and (min-width: 900px) {
                  @include flex(column, center, center, nowrap);
                }
              }


              @media screen and (min-width: 400px) {
                padding: 6px 9px;
              }

              @media screen and (min-width: 900px) {
                padding: 17px 10px 22px 10px;
              }
              @media screen and (min-width: 1200px) {
                gap: 8px;
              }
              @media screen and (min-width: 1788px) {
                padding: 17px 57px 22px 40px;
              }
            }

            @media screen and (min-width: 900px) {
              padding: 27px 21px 36px 32px;
            }

            @media screen and (min-width: 1200px) {
              height: 345px;
              padding: 27px 19px 36px 19px;
            }

            @media screen and (min-width: 1788px) {
              padding: 27px 21px 36px 32px;
            }
          }

          .BarChart {
            border-radius: 15px;
            background-color: white;
            padding: 8px 12px;
            width: 100%;

            .MobileHeaderBarChart {

              @include flex(row, center, space-between, nowrap);
              padding-bottom: 8px;

              .Up {
                @include flex(row, baseline, flex-start, nowrap);
                gap: 4px;

                span {
                  color: #05CD99;
                }
              }


              @media screen and (min-width: 900px) {
                display: none;
              }
            }

            .MobileInformationBarChart {
              @include flex(row, center, flex-start, nowrap);
              gap: 16px;
              padding-bottom: 8px;

              h6 {
                color: map-get($primary, primary);
              }

              span {
                color: map-get($primary, secondary);
              }

              @media screen and (min-width: 900px) {
                display: none;
              }
            }

            .HeaderBarChart {
              display: none;
              padding-bottom: 8px;

              .Up {
                @include flex(row, baseline, flex-start, nowrap);
                gap: 4px;

                p {
                  color: #05CD99;
                }
              }

              @media screen and (min-width: 900px) {
                @include flex(row, center, space-between, nowrap);
              }
            }

            .InformationBarChart {
              display: none;

              h1 {
                color: map-get($primary, primary);
              }

              h6 {
                color: map-get($primary, secondary);
              }

              @media screen and (min-width: 900px) {
                @include flex(row, center, flex-start, nowrap);
                gap: 16px;
                padding-bottom: 25px;

              }
            }

            .BarChartSingle {
              @include flex(row-reverse, flex-end, center, nowrap);
              gap: 3px;

              .BarCharts {
                @include flex(column, center, center, nowrap);
                gap: 8px;

                .Bar {
                  background: linear-gradient(180deg, rgb(67, 24, 255) 0%, rgba(67, 24, 255, 0.28) 100%);
                  width: 10px;
                  @media screen and (min-width: 400px) {
                    width: 13px;
                  }
                }

                p {
                  display: none;
                  color: map-get($primary, two);
                  @media screen and (min-width: 900px) {
                    display: block;
                  }
                }

                span {
                  display: block;
                  color: map-get($primary, two);
                  @media screen and (min-width: 900px) {
                    display: none;
                  }
                }

                @media screen and (min-width: 900px) {
                  gap: 16px;
                }
              }

              @media screen and (min-width: 400px) {
                gap: 10px;
              }

              @media screen and (min-width: 600px) {
                gap: 25px;
              }

              @media screen and (min-width: 1200px) {
                gap: 10px;
              }
              @media screen and (min-width: 1788px) {
                gap: 28px;
              }
            }

            @media screen and (min-width: 900px) {
              padding: 25px 15px 39px 15px;
            }
            @media screen and (min-width: 1200px) {
              padding: 25px 19px 39px 19px;
              height: 345px;
            }
            @media screen and (min-width: 1788px) {
              padding: 25px 37px 39px 37px;
              height: 345px;
            }
          }

          .Tasks {
            padding: 8px 12px;

            .HeaderTasks {

              @include flex(row, center, space-between, nowrap);

              padding-bottom: 32px;

              .CheckTask {

                @include flex(row, center, flex-start, nowrap);
                gap: 3px;

                .CheckInput {
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  background-color: map-get($primary, six);
                  @include flex(row, center, center, nowrap);

                  input {
                    cursor: pointer;
                    width: 14px;
                    height: 14px;
                    color: map-get($primary, primary) !important;
                    background-color: map-get($primary, primary) !important;
                    @media screen and (min-width: 400px) {
                      width: 20px;
                      height: 20px;
                    }
                  }

                  @media screen and (min-width: 400px) {
                    width: 38px;
                    height: 38px;
                  }
                }

                h4 {
                  display: none;
                  @media screen and (min-width: 900px) {
                    display: block;
                  }
                }

                h6 {
                  display: block;
                  @media screen and (min-width: 900px) {
                    display: none;
                  }
                }

                @media screen and (min-width: 400px) {
                  gap: 12px;
                }

              }

              .Option {
                width: 32px;
                height: 28px;
                @include flex(row, center, center, nowrap);
                border-radius: 12px;
                background-color: map-get($primary, one);
                position: relative;
                cursor: pointer;

                .DropDownChart {
                  opacity: 0;
                  max-height: 0;
                  overflow: hidden;
                  transition: opacity 0.2s, max-height 0.2s;
                  padding: 20px 20px 4px 100px;
                  position: absolute;
                  top: 28px;
                  left: 0;
                  z-index: 10;
                  border-radius: 16px;
                  border: 1px solid #B0BBD5;
                  box-shadow: 0 18px 40px 0 #7090B01F;
                  background-color: white;

                  h5 {
                    cursor: pointer;

                    padding-bottom: 16px;
                    display: none;
                    white-space: nowrap;
                    @media screen and (min-width: 900px) {
                      display: block;
                    }
                  }

                  p {
                    cursor: pointer;

                    display: block;
                    padding-bottom: 16px;
                    white-space: nowrap;
                    @media screen and (min-width: 900px) {
                      display: none;
                    }
                  }

                  @media screen and (min-width: 900px) {
                    padding: 40px 40px 34px 166px;
                    top: 37px;
                  }
                }

                @media screen and (min-width: 900px) {
                  width: 37px;
                  height: 37px;
                }
              }


            }


            .AllTask {
              max-height: 216px;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background: transparent; // برای سفارشی سازی پس‌زمینه
              }

              scrollbar-width: none;
              -ms-overflow-style: none;

              .Task {
                padding-bottom: 24px;
                @include flex(row, flex-start, space-between, nowrap);


                &:last-child {
                  padding-bottom: 0;
                }

                .TitleTask {

                  @include flex(row, center, flex-start, nowrap);
                  gap: 8px;

                  label {
                    font-size: 12px;
                    color: map-get($primary, three);
                    font-weight: 400;
                    @media screen and (min-width: 900px) {
                      font-size: 14px;
                    }
                  }

                  input {
                    width: 14px;
                    height: 14px;
                    cursor: pointer;
                    @media screen and (min-width: 900px) {
                      width: 20px;
                      height: 20px;
                    }
                  }

                  h4 {
                    display: none;
                    @media screen and (min-width: 900px) {
                      display: block;
                    }
                  }

                  p {
                    display: block;
                    @media screen and (min-width: 900px) {
                      display: none;
                    }
                  }

                  @media screen and (min-width: 400px) {
                    gap: 16px;
                  }

                }

                @media screen and (min-width: 900px) {
                  @include flex(row, center, space-between, nowrap);

                }
              }

              .drag {
                cursor: pointer;
                width: 24px;
                height: 24px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              &:last-child {
                padding-bottom: 0;
              }
            }


            @media screen and (min-width: 900px) {
              padding: 25px 15px 39px 15px;
            }
            @media screen and (min-width: 1200px) {
              padding: 25px 19px 39px 19px;
              height: 345px;
            }
            @media screen and (min-width: 1788px) {
              padding: 30px 36px 30px 48px;
              height: 345px;
            }
          }

          @media screen and (min-width: 1200px) {
            padding-bottom: 0;
          }
        }

        .Table {
          padding: 21px 12px;
          border-radius: 15px;
          background-color: white;
          width: 100%;
          margin-bottom: 16px;


          .HeaderTable {
            padding-bottom: 16px;
            @include flex(row, center, space-between, nowrap);

            h2 {
              display: none;
              @media screen and (min-width: 900px) {
                display: block;
              }
            }

            h6 {
              display: block;
              @media screen and (min-width: 900px) {
                display: none;
              }
            }

            .Option {
              width: 32px;
              height: 28px;
              @include flex(row, center, center, nowrap);
              border-radius: 12px;
              background-color: map-get($primary, one);
              position: relative;
              cursor: pointer;

              .DropDownChart {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: opacity 0.2s, max-height 0.2s;
                padding: 20px 20px 4px 100px;
                position: absolute;
                top: 28px;
                left: 0;
                z-index: 10;
                border-radius: 16px;
                border: 1px solid #B0BBD5;
                box-shadow: 0 18px 40px 0 #7090B01F;
                background-color: white;

                h5 {
                  cursor: pointer;

                  padding-bottom: 16px;
                  display: none;
                  white-space: nowrap;
                  @media screen and (min-width: 900px) {
                    display: block;
                  }
                }

                p {
                  cursor: pointer;

                  display: block;
                  padding-bottom: 16px;
                  white-space: nowrap;
                  @media screen and (min-width: 900px) {
                    display: none;
                  }
                }

                @media screen and (min-width: 900px) {
                  padding: 40px 40px 34px 166px;
                  top: 37px;
                }
              }

              @media screen and (min-width: 900px) {
                width: 37px;
                height: 37px;
              }
            }
          }

          .BodyTable {
            table {
              thead {
                padding-bottom: 12px;

                tr {
                  th {
                    text-align: right;
                    font-size: 12px;
                    font-weight: 500;
                    color: map-get($primary, secondary);
                    @media screen and (min-width: 900px) {
                      font-size: 14px;
                    }
                  }

                  .Name {
                    padding-left: 80px;
                    padding-bottom: 12px;
                    @media screen and (min-width: 400px) {
                      padding-left: 95px;
                    }
                    @media screen and (min-width: 600px) {
                      padding-left: 200px;
                    }
                    @media screen and (min-width: 1000px) {
                      padding-left: 215px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 100px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1400px) {
                      padding-left: 180px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1788px) {
                      padding-left: 233px;
                      padding-bottom: 28px;
                    }
                  }

                  .Advance {
                    padding-left: 12px;
                    padding-bottom: 12px;
                    @media screen and (min-width: 400px) {
                      padding-left: 24px;
                    }
                    @media screen and (min-width: 600px) {
                      padding-left: 90px;
                    }
                    @media screen and (min-width: 1000px) {
                      padding-left: 115px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 25px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 45px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1788px) {
                      padding-left: 116px;
                      padding-bottom: 28px;
                    }
                  }

                  .Count {
                    padding-left: 18px;
                    padding-bottom: 12px;
                    @media screen and (min-width: 400px) {
                      padding-left: 49px;
                    }
                    @media screen and (min-width: 600px) {
                      padding-left: 70px;
                    }
                    @media screen and (min-width: 1000px) {
                      padding-left: 95px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 40px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1400px) {
                      padding-left: 60px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1788px) {
                      padding-left: 141px;
                      padding-bottom: 28px;
                    }
                  }

                  .Date {
                    padding-bottom: 12px;
                    @media screen and (min-width: 1000px) {
                      padding-bottom: 28px;
                    }
                  }


                  .NameComplex {
                    padding-left: 55px;
                    padding-bottom: 12px;
                    @media screen and (min-width: 400px) {
                      padding-left: 75px;
                    }
                    @media screen and (min-width: 600px) {
                      padding-left: 200px;
                    }
                    @media screen and (min-width: 900px) {
                      padding-left: 168px;
                    }

                    @media screen and (min-width: 1000px) {
                      padding-left: 186px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 76px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1400px) {
                      padding-left: 161px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1788px) {
                      padding-left: 203px;
                      padding-bottom: 28px;
                    }
                  }

                  .AdvanceComplex {
                    padding-left: 41px;
                    padding-bottom: 12px;
                    @media screen and (min-width: 400px) {
                      padding-left: 49px;
                    }
                    @media screen and (min-width: 600px) {
                      padding-left: 90px;
                    }
                    @media screen and (min-width: 1000px) {
                      padding-left: 115px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 25px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 45px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1788px) {
                      padding-left: 116px;
                      padding-bottom: 28px;
                    }
                  }

                  .CountComplex {
                    padding-left: 40px;
                    padding-bottom: 12px;
                    @media screen and (min-width: 400px) {
                      padding-left: 49px;
                    }
                    @media screen and (min-width: 600px) {
                      padding-left: 70px;
                    }
                    @media screen and (min-width: 1000px) {
                      padding-left: 95px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 40px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1400px) {
                      padding-left: 60px;
                      padding-bottom: 28px;
                    }
                    @media screen and (min-width: 1788px) {
                      padding-left: 141px;
                      padding-bottom: 28px;
                    }
                  }

                  .DateComplex {
                    padding-bottom: 12px;
                    @media screen and (min-width: 1000px) {
                      padding-bottom: 28px;
                    }
                  }


                }
              }

              tbody {
                height: 88px;
                overflow-y: auto;

                tr {
                  padding-bottom: 12px;

                  td {
                    font-size: 12px;
                    color: map-get($primary, primary);
                    font-weight: 700;
                    padding-bottom: 16px;

                    label {
                      font-size: 12px;
                      font-weight: 500;
                      color: map-get($primary, three);
                    }

                  }


                  .titleTable {

                    h6 {
                      display: none;
                      color: map-get($primary , three);
                      font-weight: 700;
                      @media screen and (min-width: 900px) {
                        display: block;
                      }
                    }

                    p {
                      display: block;
                      color: map-get($primary , three);
                      font-weight: 400;
                      @media screen and (min-width: 900px) {
                        display: none;
                      }
                    }
                  }

                  .status{
                    @include flex(row , center , flex-start , nowrap);
                    gap: 5px;
                    p{
                      display: block;
                      color: map-get($primary , primary);
                      @media screen and (min-width: 900px) {
                        display: none;
                      }
                    }
                    h6{
                      display:none ;
                      color: map-get($primary , primary);
                      @media screen and (min-width: 900px) {
                        display:block ;
                      }
                    }
                  }

                  .DateTable{
                    p{
                      display: block;
                      color: map-get($primary , primary);
                      @media screen and (min-width: 900px) {
                        display: none;
                      }
                    }
                    h6{
                      display:none ;
                      color: map-get($primary , primary);
                      @media screen and (min-width: 900px) {
                        display:block ;
                      }
                    }
                  }

                  .ProgressTable{
                    .background{
                      position: relative;
                      width: 40px;
                      height: 8px;
                      background-color: map-get($primary , six);
                      border-radius: 21px;
                      .progress{
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: map-get($primary , main);
                        border-radius: 21px;
                        height: 8px;
                      }

                      @media screen and (min-width: 400px) {
                        width: 70px;
                      }

                      @media screen and (min-width: 900px) {
                        width: 100px;
                      }
                    }
                  }

                  .CheckBox {
                    @include flex(row, center, flex-start, nowrap);
                    gap: 3px;

                    input {
                      width: 16px;
                      height: 16px;
                      @media screen and (min-width: 1788px) {
                        width: 24px;
                        height: 24px;
                      }
                    }

                    @media screen and (min-width: 400px) {
                      gap: 11px;
                    }
                  }
                }

                @media screen and (min-width: 900px) {
                }
              }
            }
          }

          @media screen and (min-width: 400px) {
            padding: 21px 24px;
          }

          @media screen and (min-width: 1200px) {
            height: 345px;
          }

        }

        @media screen and (min-width: 1200px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
        }
      }

      .NotificationsBelow {
        @include flex(column, center, space-between, nowrap);

        .NotificationBelowStarBox {
          background-color: white;
          border-radius: 20px;
          padding: 26px 14px;
          margin-bottom: 16px;
          width: 100%;

          .StarBoxImage {
            position: relative;
            //width: 316px;
            height: 210px;
            margin-bottom: 30px;
            border-radius: 20px;
            background-image: linear-gradient(to top, rgba(17, 28, 68, 1), rgba(17, 28, 68, 0)),
            url('../../../assets/image/StarBox.png');
            background-size: cover;
            background-position: center;

            .StarBox {
              width: 100%;
              height: 100%;
            }

            .Star {
              position: absolute;
              top: 175px;
              right: 23px;
              //padding-bottom: 40px;
              @media screen and (min-width: 1788px) {
                top: 140px;
              }
            }

            .boxWatchLater {
              width: 40px;
              height: 40px;
              border-radius: 12px;
              background: rgba(255, 255, 255, 0.47);
              position: absolute;
              top: 15px;
              left: 15px;
              @include flex(row, center, center, nowrap);
            }

            @media screen and (min-width: 1788px) {
              width: 316px;
              height: 170px;
            }
          }

          h2 {
            padding-bottom: 8px;
            color: map-get($primary, primary);
          }

          .CashBack {
            @include flex(row, flex-start, flex-start, nowrap);
            gap: 10px;

            h2 {
              font-weight: 500;
              font-size: 18px;
              line-height: 30px;
              color: map-get($primary, secondary);
            }
          }

          @media screen and (min-width: 900px) {
            height: 345px;
          }
        }

        .NotificationBelowTwo {
          background-color: white;
          border-radius: 20px;
          padding: 32px 30px 23px 30px;
          margin-bottom: 16px;
          width: 100%;

          h2 {
            color: map-get($primary, primary);
            //letter-spacing: -2px;
            word-spacing: -2px;
            padding-bottom: 14px;
            padding-right: 10px;
            @media screen and (min-width: 900px) {
              width: 198px;
            }
          }

          h6 {
            color: map-get($primary, secondary);
            padding-bottom: 15px;
            padding-right: 10px;
            @media screen and (min-width: 1559px) {
              padding-bottom: 35px;
            }
          }

          .buttonNotificationBelowTwo {
            width: 100%;

            button {
              width: 100%;
              border-radius: 16px;
              background-color: map-get($primary, main);
              color: white;
              padding: 11px 0;
              border: none;
              cursor: pointer;
            }
          }

          @media screen and (min-width: 900px) {
            height: 345px;
          }
        }

        .TeamMembers {
          background-color: white;
          border-radius: 20px;
          padding: 18px 23px 26px 23px;
          width: 100%;
          height: 345px;
          margin-bottom: 16px;

          .HeaderTeamMembers {
            padding-bottom: 22px;
            @include flex(row, center, space-between, nowrap);

            h4 {
              color: map-get($primary, primary);
            }

            .AddTeamMember {
              width: 37px;
              height: 37px;
              border-radius: 10px;
              background-color: map-get($primary, one);
              @include flex(row, center, center, nowrap);
              gap: 194px;
              cursor: pointer;

              img {
                width: 24px;
                height: 24px;
              }
            }
          }

          .TeamMemberCards {
            .TeamMemberCard {
              margin-bottom: 17px;

              &:last-child {
                margin-bottom: 0;
              }

              padding: 11px 36px 11px 0;
              border-radius: 16px;
              @include flex(row, flex-end, space-between, nowrap);
              box-shadow: 0 18px 40px 0 #7090B01F;

              .TeamMemberCardTitle {
                @include flex(row, center, center, nowrap);
                gap: 18px;

                img {
                }

                .title {
                  h5 {
                    color: map-get($primary, primary);
                  }

                  p {
                    color: map-get($primary, secondary);
                  }
                }
              }

              .Option {

              }
            }
          }
        }

        .NotificationBelowNews {
          width: 100%;
          background-color: white;
          border-radius: 20px;
          padding: 18px 33px 22px 33px;

          .HeaderNotificationBelowNews {
            @include flex(row, start, start, nowrap);
            gap: 12px;
            padding-bottom: 47px;

            .icon {
              width: 38px;
              height: 38px;
              background-color: #FEEFEE;
              border-radius: 15px;
              @include flex(row, center, center, nowrap);

              img {
                width: 28px;
              }
            }

            .TitleHeader {
              p {
                color: map-get($primary, secondary);
              }

              h5 {
                color: map-get($primary, primary);
                letter-spacing: -2px;
              }
            }
          }

          .TitleNotificationBelowNews {
            padding-bottom: 40px;

            h3 {
              letter-spacing: -2px;
            }
          }

          .InformationNotificationBelowNews {
            @include flex(row, center, flex-start, nowrap);
            gap: 26px;
            padding-bottom: 37px;

            .timer {
              @include flex(row, center, center, nowrap);
              gap: 6px;

              h6 {
                color: map-get($primary, primary);
              }
            }

            .slowMotion {
              @include flex(row, center, center, nowrap);
              gap: 6px;

              h6 {
                color: map-get($primary, primary);
              }
            }

            @media screen and (min-width: 1063px) {
              padding-bottom: 74px;
            }
          }

          .buttonNotificationBelowNews {
            @include flex(row, center, space-between, nowrap);

            .button {
              button {
                padding: 8px 17px;
                background-color: map-get($primary, main);
                color: white;
                border-radius: 16px;
                border: none;
                font-size: 14px;
                font-weight: 700;
                @media screen and (min-width: 1063px) {
                  padding: 8px 35px;
                }
              }
            }

            .users {
              @include flex(row, center, flex-start, nowrap);
              gap: -10px;

              .user {
                position: relative;
                background-color: white;
                padding: 4px;
                border-radius: 50%;
                @include flex(row, center, center, nowrap);
                width: 35px;
                height: 35px;
                //margin-left: -10px;
                margin-right: -15px;

                img {
                  border-radius: 50%;
                  width: 100%;
                }
              }

              .NumberUsers {
                background-color: white;
                padding: 4px;
                position: relative;
                @include flex(row, center, center, nowrap);
                width: 35px;
                height: 35px;
                border-radius: 50%;

                .Number {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 10px;
                  font-weight: 700;
                  background-color: #E0E5F2;
                  color: map-get($primary, main);
                  border-radius: 50%;
                }
              }
            }
          }

          @media screen and (min-width: 900px) {
            height: 345px;
          }

        }

        @media screen and (min-width: 900px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
          align-items: flex-start;

        }
        @media screen and (min-width: 1788px) {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 16px;
          align-items: flex-start;
        }
      }

      @media screen and (min-width: 1000px) {
        padding: 0 16px 0 48px;
      }
    }
  }
}