.LoginPage{


  .SecondMobileLoginPage{

    display: block;

    @media screen and (min-width: 900px) {
      display: none;
    }


  }


  .DesktopLoginPage{
    display: none;

    .DesktopBannerLoginPage{
      display: none;
      @media screen and (min-width: 900px) {
        display: block;
        padding: 207px 53px 88px 53px !important;
      }
    }

    @media screen and (min-width: 900px) {
      @include flex(row , flex-start , center , nowrap);
    }
  }


}