.MarketPage {
  .overlay {
  }

  .Dashboard {
  }

  .Main {
    .DesktopHeader {
    }

    .MarketBody {
      padding: 6px 18px 32px 18px;
      width: 100%;

      .MainMarket {
        width: 100%;
        height: 100%;

        .Banner {
          position: relative;
          width: 100%;
          height: 137px;
          margin-bottom: 20px;

          .Mobile {
            display: block;
            width: 100%;
            height: 100%;

            border-radius: 15px;
            @media screen and (min-width: 900px) {
              display: none;
            }
          }

          .Desktop {
            display: none;
            width: 100%;
            height: 100%;

            border-radius: 15px;
            @media screen and (min-width: 900px) {
              display: block;
            }
          }

          .descriptionBanner {
            position: absolute;
            top: 26px;
            right: 15px;

            p {
              font-size: 10px;
              width: 143px;
              line-height: 25px;
              color: white;
              padding-bottom: 20px;

              @media screen and (min-width: 400px) {
                font-size: 12px;
                width: 172px;
              }
              @media screen and (min-width: 900px) {
                display: none;
              }
            }

            h3 {
              width: 290px;
              line-height: 42px;
              color: white;
              display: none;

              @media screen and (min-width: 900px) {
                display: block;
                padding-bottom: 18px;
              }


              @media screen and (min-width: 1920px) {
                display: none;
              }
            }

            h6 {
              width: 250px;
              color: white;
              display: none;
              @media screen and (min-width: 900px) {
                display: block;
                padding-bottom: 24px;
              }


              @media screen and (min-width: 1920px) {
                display: none;
              }
            }

            h2 {
              display: none;
              width: 377px;
              line-height: 42px;
              color: white;
              @media screen and (min-width: 1536px) {
                padding-bottom: 18px;
              }
              @media screen and (min-width: 1920px) {
                display: block;
              }
            }

            h5 {
              display: none;
              width: 332px;
              color: white;
              padding-bottom: 5px;
              @media screen and (min-width: 1536px) {
                padding-bottom: 24px;
              }
              @media screen and (min-width: 1920px) {
                display: block;
              }
            }

            .ActionBanner {
              @include flex(row, center, flex-start, nowrap);
              gap: 16px;

              button {
                padding: 4px 10px;
                font-size: 10px;
                background-color: white;
                border: none;
                border-radius: 16px;
                cursor: pointer;
                @media screen and (min-width: 400px) {
                  font-size: 12px;
                }
                @media screen and (min-width: 900px) {
                  padding: 11px 32px;
                }
              }

              a {
                color: white;
                text-decoration: none;
                font-size: 10px;
                font-weight: 500;
                @media screen and (min-width: 900px) {
                  font-size: 16px;
                }
              }

              @media screen and (min-width: 900px) {
                gap: 38px;
              }
            }

            @media screen and (min-width: 900px) {
              top: 80px;
            }
            @media screen and (min-width: 1536px) {
              right: 45px;
            }
            @media screen and (min-width: 1920px) {
              right: 60px;
            }

          }

          @media screen and (min-width: 900px) {
            height: 350px;
          }

          @media screen and (min-width: 1200px) {
            margin-bottom: 40px;
          }

        }

        .trendsOfTheDay {
          margin-bottom: 16px;
          .TitleShoppingCards {
            width: 100%;
            margin-bottom: 16px;

            .Trend {
              color: map-get($primary, primary);
              padding-bottom: 8px;
              white-space: nowrap;
              @media screen and (min-width: 1200px) {
                display: none;
              }
            }

            .TrendDesktop {
              color: map-get($primary, primary);
              display: none;
              white-space: nowrap;
              @media screen and (min-width: 1200px) {
                display: block;
              }
            }

            .ItemsTrend {
              @include flex(row, center, space-between, nowrap);
              overflow-x: scroll;
              scrollbar-width: none;
              gap: 6px;

              .ItemTrend {
                padding: 4px 17px;
                cursor: pointer;

                h6 {
                  color: map-get($primary, main);
                }


                @media screen and (min-width: 900px) {

                  padding: 4px 26px;
                }

              }

              .ActiveButton {
                background-color: white;
                border-radius: 16px;
              }

              .none {
                display: block;
                @media screen and (min-width: 1200px) {
                  display: none;
                }
              }

              &::-webkit-scrollbar {
                height: 0;
              }

              @media screen and (min-width: 900px) {
                overflow-x: inherit;
              }

              @media screen and (min-width: 1200px) {
                justify-content: flex-start;
                gap: 20px;
                overflow-x: inherit;
              }

              @media screen and (min-width: 1536px) {
                gap: 47px;
                overflow-x: inherit;
              }

            }

            @media screen and (min-width: 1200px) {
              @include flex(row, center, space-between, nowrap);
              margin-bottom: 20px;

            }
            @media screen and (min-width: 1536px) {
              padding: 0 20px;
            }
          }


          .ShoppingCards{
            margin: 0 auto;
            @include flex(row , center , center , wrap);
            gap: 16px;

            @media screen and (min-width: 752px) {
              @include flex(row , center , space-between , wrap);
            }

          }

          @media screen and (min-width: 900px) {
            margin-bottom: 47px;
          }

        }

        .RecentVisits{
          display: none;
          @media screen and (min-width: 900px) {
            display: block;
          }
        }

        .More{
          @include flex(row , center , center , nowrap);
          h6{
            color: map-get($primary , primary);
          }

          @media screen and (min-width: 900px) {
            display: none;
          }

        }

        @media screen and (min-width: 1200px) {
          width: 68%;
        }

      }

      .SideBarMarket {
      }
    }
  }
}