.MarketPage {
  .overlay {
  }

  .Dashboard {
  }

  .Main {
    .DesktopHeader {
    }

    .MarketBody {
      padding: 6px 18px 32px 18px;
      width: 100%;

      .MainMarket {
        width: 100%;
        height: 100%;
        margin-bottom: 32px;

        .Banner {
          position: relative;
          width: 100%;
          height: 137px;
          margin-bottom: 20px;

          .Mobile {
            display: block;
            width: 100%;
            height: 100%;

            border-radius: 15px;
            @media screen and (min-width: 900px) {
              display: none;
            }
          }

          .Desktop {
            display: none;
            width: 100%;
            height: 100%;

            border-radius: 15px;
            @media screen and (min-width: 900px) {
              display: block;
            }
          }

          .descriptionBanner {
            position: absolute;
            top: 26px;
            right: 15px;

            p {
              font-size: 10px;
              width: 143px;
              line-height: 25px;
              color: white;
              padding-bottom: 20px;

              @media screen and (min-width: 400px) {
                font-size: 12px;
                width: 172px;
              }
              @media screen and (min-width: 900px) {
                display: none;
              }
            }

            h3 {
              width: 290px;
              line-height: 42px;
              color: white;
              display: none;

              @media screen and (min-width: 900px) {
                display: block;
                padding-bottom: 18px;
              }


              @media screen and (min-width: 1920px) {
                display: none;
              }
            }

            h6 {
              width: 250px;
              color: white;
              display: none;
              @media screen and (min-width: 900px) {
                display: block;
                padding-bottom: 24px;
              }


              @media screen and (min-width: 1920px) {
                display: none;
              }
            }

            h2 {
              display: none;
              width: 377px;
              line-height: 42px;
              color: white;
              @media screen and (min-width: 1536px) {
                padding-bottom: 18px;
              }
              @media screen and (min-width: 1920px) {
                display: block;
              }
            }

            h5 {
              display: none;
              width: 332px;
              color: white;
              padding-bottom: 5px;
              @media screen and (min-width: 1536px) {
                padding-bottom: 24px;
              }
              @media screen and (min-width: 1920px) {
                display: block;
              }
            }

            .ActionBanner {
              @include flex(row, center, flex-start, nowrap);
              gap: 16px;

              button {
                padding: 4px 10px;
                font-size: 10px;
                background-color: white;
                border: none;
                border-radius: 16px;
                cursor: pointer;
                @media screen and (min-width: 400px) {
                  font-size: 12px;
                }
                @media screen and (min-width: 900px) {
                  padding: 11px 32px;
                }
              }

              a {
                color: white;
                text-decoration: none;
                font-size: 10px;
                font-weight: 500;
                @media screen and (min-width: 900px) {
                  font-size: 16px;
                }
              }

              @media screen and (min-width: 900px) {
                gap: 38px;
              }
            }

            @media screen and (min-width: 900px) {
              top: 80px;
            }
            @media screen and (min-width: 1536px) {
              right: 45px;
            }
            @media screen and (min-width: 1920px) {
              right: 60px;
            }

          }

          @media screen and (min-width: 900px) {
            height: 350px;
          }

          @media screen and (min-width: 1200px) {
            margin-bottom: 40px;
          }

        }

        .trendsOfTheDay {
          margin-bottom: 16px;

          .TitleShoppingCards {
            width: 100%;
            margin-bottom: 16px;

            .Trend {
              color: map-get($primary, primary);
              padding-bottom: 8px;
              white-space: nowrap;
              @media screen and (min-width: 1200px) {
                display: none;
              }
            }

            .TrendDesktop {
              color: map-get($primary, primary);
              display: none;
              white-space: nowrap;
              @media screen and (min-width: 1200px) {
                display: block;
              }
            }

            .ItemsTrend {
              @include flex(row, center, space-between, nowrap);
              overflow-x: scroll;
              scrollbar-width: none;
              gap: 6px;

              .ItemTrend {
                padding: 4px 17px;
                cursor: pointer;

                h6 {
                  color: map-get($primary, main);
                }


                @media screen and (min-width: 900px) {

                  padding: 4px 26px;
                }

              }

              .ActiveButton {
                background-color: white;
                border-radius: 16px;
              }

              .none {
                display: block;
                @media screen and (min-width: 1200px) {
                  display: none;
                }
              }

              &::-webkit-scrollbar {
                height: 0;
              }

              @media screen and (min-width: 900px) {
                overflow-x: inherit;
              }

              @media screen and (min-width: 1200px) {
                justify-content: flex-start;
                gap: 20px;
                overflow-x: inherit;
              }

              @media screen and (min-width: 1536px) {
                gap: 47px;
                overflow-x: inherit;
              }

            }

            @media screen and (min-width: 1200px) {
              @include flex(row, center, space-between, nowrap);
              margin-bottom: 20px;

            }
            @media screen and (min-width: 1536px) {
              padding: 0 20px;
            }
          }


          .ShoppingCards {
            margin: 0 auto;
            @include flex(row, center, center, wrap);
            gap: 16px;

            @media screen and (min-width: 752px) {
              @include flex(row, center, space-between, wrap);
            }

          }

          @media screen and (min-width: 900px) {
            margin-bottom: 47px;
          }

        }

        .RecentVisits {
          display: none;
          @media screen and (min-width: 900px) {
            display: block;
          }
        }

        .More {
          @include flex(row, center, center, nowrap);

          h6 {
            color: map-get($primary, primary);
          }

          @media screen and (min-width: 900px) {
            display: none;
          }

        }

        @media screen and (min-width: 1200px) {
          width: 68%;
          margin-bottom: 0;
        }

      }

      .SideBarMarket {

        .TopSellers {
          padding: 16px 21px;
          background-color: white;
          border-radius: 20px;
          margin-bottom: 20px;

          .HeaderTopSellers {
            background-color: white;
            box-shadow: 0 40px 58px -20px #7090B01F;
            @include flex(row, center, space-between, nowrap);
            padding-bottom: 16px;
            margin-bottom: 8px;
            width: 100%;

            h5 {
              color: #1B2559;
              @media screen and (min-width: 1200px) {
                display: none;
              }
            }

            h3 {
              color: #1B2559;
              display: none;
              @media screen and (min-width: 1200px) {
                display: block;
              }
            }

            button {
              padding: 4px 29px;
              border: none;
              border-radius: 70px;
              background-color: map-get($primary, one);
              color: map-get($primary, main);
              cursor: pointer;
              font-size: 12px;
              font-weight: 500;
              @media screen and (min-width: 1200px) {
                font-size: 14px;
              }
            }

            @media screen and (min-width: 1200px) {
              padding-bottom: 30px;
            }

          }

          .TableTopSellers {

            max-height: 300px;
            overflow-y: auto;

            &::-webkit-scrollbar {
              display: none;
            }

            scrollbar-width: none;

            .table {
              border-collapse: separate; /* اطمینان حاصل کنید که از مقدار separate استفاده می‌شود */
              border-spacing: 0 17px;

              .thead {
                tr {
                  padding-bottom: 17px;

                  th {
                    font-size: 14px;
                    font-weight: 500;
                    color: map-get($primary, secondary);
                  }

                  .NameTopSellers {
                    padding-left: 90px;
                    @media screen and (min-width: 400px) {
                      padding-left: 130px;
                    }
                    @media screen and (min-width: 700px) {
                      padding-left: 350px;
                    }
                    @media screen and (min-width: 900px) {
                      padding-left: 275px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 110px;
                    }
                    @media screen and (min-width: 1536px) {
                      padding-left: 155px;
                    }
                    @media screen and (min-width: 1920px) {
                      padding-left: 204px;
                    }
                  }

                  .LoremTopSellers {
                    padding-left: 40px;
                    @media screen and (min-width: 400px) {
                      padding-left: 75px;

                    }
                    @media screen and (min-width: 700px) {
                      padding-left: 150px;
                    }
                    @media screen and (min-width: 900px) {
                      padding-left: 125px;
                    }
                    @media screen and (min-width: 1200px) {
                      padding-left: 30px;
                    }
                    @media screen and (min-width: 1536px) {
                      padding-left: 45px;
                    }
                    @media screen and (min-width: 1920px) {
                      padding-left: 120px;
                    }
                  }

                  .Ranking {
                  }
                }
              }

              .tbody {
                tr {
                  margin-bottom: 17px;

                  td {

                  }

                  .InformationTopSellers {

                    .InformationTopSeller {
                      @include flex(row, center, flex-start, nowrap);
                      gap: 8px;

                      img {
                        border-radius: 12px;
                      }

                      h6 {
                        font-size: 12px;
                        color: map-get($primary, primary);
                        @media screen and (min-width: 400px) {
                          font-size: 14px;
                        }
                      }
                    }

                  }

                  .NumberTopSellers {
                    color: map-get($primary, secondary);
                    font-size: 14px;
                    font-weight: 500;
                  }

                  .RankTopSellers {

                    .rank {
                      width: 64px;
                      height: 8px;
                      border-radius: 21px;
                      background-color: map-get($primary, main);
                    }
                  }


                }
              }
            }

            @media screen and (min-width: 1200px) {
              max-height: 392px;
            }

          }

          @media screen and (min-width: 900px) {
            padding: 18px 32px 62px 21px;
          }

        }


        .History {
          padding: 16px 21px;
          background-color: white;
          border-radius: 20px;
          margin-bottom: 20px;


          .HistoryTopSellers {
            margin-bottom: 0;
          }

          .HistoryCards {

            max-height: 180px;

            overflow-y: auto;

            &::-webkit-scrollbar {
              display: none;
            }

            scrollbar-width: none;

            .HistoryCard {

              background-color: white;
              border-radius: 20px;
              margin-bottom: 8px;

              @include flex(row, center, space-between, nowrap);

              gap: 5px;


              .HistoryCardImage {

                @include flex(row, center, flex-start, nowrap);
                gap: 8px;

                img {
                  width: 40px;
                  height: 40px;

                  @media screen and (min-width: 400px) {
                    width: 66px;
                    height: 66px;
                  }
                  @media screen and (min-width: 1200px) {
                    width: 40px;
                    height: 40px;
                  }

                  @media screen and (min-width: 1920px) {
                    width: 66px;
                    height: 66px;
                  }


                }

                .MobileTitleHistoryCard {
                  display: block;

                  p {
                    color: map-get($primary, primary);
                  }

                  span {
                    color: map-get($primary, secondary);
                  }

                  @media screen and (min-width: 1536px) {
                    display: none;
                  }
                }

                .TitleHistoryCard {
                  display: none;

                  .Title {
                    color: map-get($primary, primary);

                  }

                  .des {
                    color: map-get($primary, secondary);
                  }

                  @media screen and (min-width: 1536px) {
                    display: block;
                  }
                }

                @media screen and (min-width: 1920px) {
                  gap: 18px;
                }

              }

              .PriceHistoryCard {
                p {
                  display: block;
                  color: map-get($primary, primary);
                  @media screen and (min-width: 1536px) {
                    display: none;
                  }
                }

                h5 {
                  display: none;
                  color: map-get($primary, primary);
                  @media screen and (min-width: 1536px) {
                    display: block;
                  }
                }
              }

              .TimeHistoryCard {
                p {
                  display: block;
                  color: map-get($primary, secondary);
                  @media screen and (min-width: 1536px) {
                    display: none;
                  }
                }

                h5 {
                  color: map-get($primary, secondary);
                  display: none;
                  @media screen and (min-width: 1536px) {
                    display: block;
                  }
                }
              }

              &:last-child {
                margin-bottom: 0;
              }

              @media screen and (min-width: 400px) {
                gap: 0;
              }

              @media screen and (min-width: 1200px) {
                padding: 21px 7px 21px 7px;
                margin-bottom: 17px;
              }
              @media screen and (min-width: 1920px) {
                padding: 21px 7px 21px 21px;
              }

            }

            @media screen and (min-width: 1200px) {
              .HistoryCard:first-child {
                box-shadow: 0 18px 40px 0 rgba(112, 144, 176, 0.12);
              }
              max-height: 586px;
              overflow-y: auto;
            }


            @media screen and (min-width: 1536px) {
              max-height: 497px;
            }

            @media screen and (min-width: 1920px) {
              max-height: 618px;
            }

          }


          @media screen and (min-width: 900px) {
            padding: 18px 18px 47px 18px;
          }
        }

      }

      @media screen and (min-width: 1200px) {
        @include flex(row, flex-start, space-between, nowrap);
        gap: 20px;
      }
    }
  }
}