
.ChangePassword {


  .MobileChangePassword {

    padding: 88px 40px 120px 40px;
    width: 100%;

    background-color: map-get($primary, one);

    .ReturnChangePassword {
      padding-bottom: 201px;

      a {
        text-decoration: none;
        letter-spacing: 0;
        @include flex(row, center, flex-end, nowrap);
      }
    }

    h1, h3 {
      padding-bottom: 64px;
    }

    h1 {
      display: none;
      @media screen and (min-width: 900px) {
        display: block;
      }
    }

    h3 {
      display: block;
      @media screen and (min-width: 900px) {
        display: none;
      }
    }

    .InputsChangePassword {

      .CurrentPassword {

        padding-bottom: 25px;

        @include flex(column, flex-start, flex-start, nowrap);
        gap: 12px;

        label {
          @include flex(row, center, flex-start, nowrap);

          .LabelText {
          }
        }

        input {

          padding: 13px 25px;

          background-color: transparent;

          border: 1px solid #E0E5F2;

          border-radius: 16px;

          width: 100%;

        }

        .ShowOrHide {
          cursor: pointer;
        }

      }

      .NewPassword, .RepeatPassword {
        position: relative;

        input {
          padding: 13px 45px;

        }

        .ShowOrHide {
          position: absolute;
          top: 50px;
          right: 18px;
        }
      }

      .RepeatPassword {
        padding-bottom: 42px;
      }


    }


    .SaveInSystem {

      @include flex(row, center, flex-start, nowrap);
      gap: 12px;
      padding-bottom: 32px;

      input {
        width: 18px;
        height: 18px;
      }

      label {
        color: map-get($primary, primary);
        font-size: 14px;
        font-weight: 500;
      }
    }

    .EnterButton {
      width: 100%;

      button {
        padding: 10px 0;
        background-color: map-get($primary, main);
        color: white;
        border-radius: 16px;
        border: none;
        width: 100%;
        cursor: pointer;
      }

    }

    .notification {
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: #D71313;
      color: #ffffff;
      padding: 10px;
      border-radius: 5px;
      font-weight: 700;
      transform: translateX(150%);
      transition: transform 0.5s ease-in-out;
    }

    .show-notification {
      transform: translateX(0%);
    }

    .hide-notification {
      transform: translateX(150%);
    }


    @media screen and (min-width: 900px) {
      display: none;
    }

  }

  .DesktopChangePasswordPage {
    display: none;

    width: 100%;

    .DesktopChangePassword {
      padding: 88px 40px 120px 40px;
      width: 50%;
      height: 1152px;


      background-color: map-get($primary, one);

      .ReturnChangePassword {
        padding-bottom: 201px;

        a {
          text-decoration: none;
          letter-spacing: 0;
          @include flex(row, center, flex-end, nowrap);
        }
      }

      h1, h3 {
        padding-bottom: 64px;
      }

      h1 {
        display: none;
        @media screen and (min-width: 900px) {
          display: block;
        }
      }

      h3 {
        display: block;
        @media screen and (min-width: 900px) {
          display: none;
        }
      }

      .InputsChangePassword {

        .CurrentPassword {

          padding-bottom: 25px;

          @include flex(column, flex-start, flex-start, nowrap);
          gap: 12px;

          label {
            @include flex(row, center, flex-start, nowrap);

            .LabelText {
            }
          }

          input {

            padding: 13px 25px;

            background-color: transparent;

            border: 1px solid #E0E5F2;

            border-radius: 16px;

            width: 100%;

          }

          .ShowOrHide {
            cursor: pointer;
          }

        }

        .NewPassword, .RepeatPassword {
          position: relative;

          input {
            padding: 13px 45px;

          }

          .ShowOrHide {
            position: absolute;
            top: 50px;
            right: 18px;
          }
        }

        .RepeatPassword {
          padding-bottom: 42px;
        }


      }


      .SaveInSystem {

        @include flex(row, center, flex-start, nowrap);
        gap: 12px;
        padding-bottom: 32px;

        input {
          width: 18px;
          height: 18px;
        }

        label {
          color: map-get($primary, primary);
          font-size: 14px;
          font-weight: 500;
        }
      }

      .EnterButton {
        width: 100%;

        button {
          padding: 10px 0;
          background-color: map-get($primary, main);
          color: white;
          border-radius: 16px;
          border: none;
          width: 100%;
          cursor: pointer;
        }

      }

      .notification {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #D71313;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        font-weight: 700;
        transform: translateX(150%);
        transition: transform 0.5s ease-in-out;
      }

      .show-notification {
        transform: translateX(0%);
      }

      .hide-notification {
        transform: translateX(150%);
      }
    }

    .DesktopBannerLoginPage{
      width: 50%;
      height: 1152px;
      border-bottom-left-radius: 100px;
    }

    @media screen and (min-width: 900px) {
      @include flex(row, center, center, nowrap);
    }
  }

}