.NavbarCard {
  display: none;
  padding: 21px 16px;
  background-color: white;
  border-radius: 20px;

  .CardIcon {
    padding: 22px;
    border-radius: 50%;
    background-color: map-get($primary, one);
    width: 32px;
    height: 32px;
    @include flex(row, center, center, nowrap);

    h6 {
      font-weight: 700;
      color: rgba(5, 205, 153, 1);
    }
  }

  .desCard {
    h6 {
      font-weight: 500;
      color: map-get($primary, secondary);
    }

    h4 {
      font-weight: 700;
      color: map-get($primary, primary);
      width: 127px;
      @media screen and (min-width: 1598px) {
        width: 144px;
      }
    }
  }

  @media screen and (min-width: 900px) {
    @include flex(row, center, center, nowrap);
    gap: 16px;
  }
}

.MobileNavbarCard {
  background-color: white;
  padding: 8px 10px 19px 10px;
  border-radius: 15px;
  height: 117px;
  .MobileCardIcon {
    @include flex(row, flex-end, flex-start, nowrap);
    gap: 8px;
    padding-bottom: 12px;

    h6 {
      font-weight: 500;
      color: map-get($primary, secondary);

    }
  }

  .MobileDesCard {
    h6 {
      font-weight: 700;
      color: map-get($primary, primary);
      //width: 69px;
    }
    .description{
      @include flex(row  , center , flex-start , nowrap);
      span{
        color: rgba(5, 205, 153, 1);
        font-weight: 400;
      }
      p{
        font-size: 8px;
        font-weight: 400;
      }
    }
  }

  @media screen and (min-width: 400px) {
    padding: 8px 16px 19px 18px;
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}