.Profile {


  .Main {

    .ProfileBody {

      display: block;

      .ProfileInformation {

        .PersonalProfileInformation {
          padding: 16px 12px 24px 12px;
          background-color: white;
          border-radius: 15px;
          margin-bottom: 16px;

          .BannerAndProfileImage {
            padding-bottom: 32px;

            .BannerProfile {
              position: relative;
              top: 0;
              right: 0;
              width: 100%;

              .Under {
                display: block;
                width: 100%;
                height: 100%;
                @media screen and (min-width: 900px) {
                  display: none;
                }
              }

              .Over {
                display: none;
                width: 100%;
                height: 100%;
                @media screen and (min-width: 900px) {
                  display: block;
                }
              }

              .ProfileImage {
                position: absolute;
                right: 50%;
                top: 100%;
                transform: translate(50%, -50%);
                background-color: white;
                border-radius: 50%;
                padding: 5px;

                .Under {
                  border-radius: 50%;

                  display: block;
                  @media screen and (min-width: 900px) {
                    display: none;
                  }
                }

                .Over {
                  border-radius: 50%;

                  display: none;
                  @media screen and (min-width: 900px) {
                    display: block;
                  }
                }

              }
            }

            @media screen and (min-width: 900px) {
              padding-bottom: 56px;
            }
          }


          .NameAndFollowersProfile {

            @include flex(row, center, space-between, nowrap);

            .ProfileName {

              h5, p {
                display: block;
                @media screen and (min-width: 900px) {
                  display: none;
                }
              }

              h3, h6 {
                display: none;
                @media screen and (min-width: 900px) {
                  @include flex(column, center, center, nowrap);
                }
              }

            }

            .FollowersProfile {
              @include flex(row, center, space-between, nowrap);
              gap: 5px;

              .Followers, .Following, .Posts {
                @include flex(column, center, center, nowrap);

                h5, p {
                  display: block;
                  @media screen and (min-width: 900px) {
                    display: none;
                  }
                }

                h2, h6 {
                  display: none;
                  @media screen and (min-width: 900px) {
                    @include flex(column, center, center, nowrap);
                  }
                }

              }

              @media screen and (min-width: 400px) {
                gap: 24px;
              }
              @media screen and (min-width: 900px) {
                gap: 55px;
                padding-left: 6%;
              }

              @media screen and (min-width: 900px) {
                gap: 15px;
                padding-left: 6%;
              }

              @media screen and (min-width: 1536px) {
                gap: 55px;
                padding-left: 6%;
              }

            }

            @media screen and (min-width: 900px) {
              flex-direction: column;
              gap: 24px;
            }
          }

          @media screen and (min-width: 400px) {
            padding: 16px 24px 24px 24px;
          }

          @media screen and (min-width: 900px) {
            padding: 17px 18px 35px 18px;
          }

          @media screen and (min-width: 1200px) {
            height: 365px;
            width: 35.5%;
          }

        }

        .ProfileFreeSpace {
          background-color: white;
          border-radius: 15px;
          padding: 16px 17px 48px 20px;

          margin-bottom: 16px;

          .backOption {
            @include flex(row, center, flex-end, nowrap);

            .Option {

              width: 32px;
              height: 28px;
              @include flex(row, center, center, nowrap);
              border-radius: 12px;
              background-color: map-get($primary, one);
              position: relative;
              cursor: pointer;

              .DropDownChart {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: opacity 0.2s, max-height 0.2s;
                padding: 20px 20px 4px 100px;
                position: absolute;
                top: 28px;
                left: 0;
                z-index: 10;
                border-radius: 16px;
                border: 1px solid #B0BBD5;
                box-shadow: 0 18px 40px 0 #7090B01F;
                background-color: white;

                h5 {
                  cursor: pointer;

                  padding-bottom: 16px;
                  display: none;
                  white-space: nowrap;
                  @media screen and (min-width: 900px) {
                    display: block;
                  }
                }

                p {
                  cursor: pointer;

                  display: block;
                  padding-bottom: 16px;
                  white-space: nowrap;
                  @media screen and (min-width: 900px) {
                    display: none;
                  }
                }

                @media screen and (min-width: 900px) {
                  padding: 40px 40px 34px 166px;
                  top: 37px;
                }
              }

              @media screen and (min-width: 900px) {
                width: 37px;
                height: 37px;
              }
            }
          }

          .FreeSpaceInformation {
            @include flex(column, center, center, nowrap);
            padding-bottom: 5px;

            .ImageFreeSpace {
              width: 100px;
              height: 100px;
              @include flex(row, center, center, nowrap);
              background-color: map-get($primary, one);
              border-radius: 50%;
              margin-bottom: 14px;
            }

            h5, p {
              display: block;
              @media screen and (min-width: 900px) {
                display: none;
              }
            }

            h2, h6 {
              display: none;
              @media screen and (min-width: 900px) {
                display: block;
              }
            }

            h5, h2 {
              padding-bottom: 6px;
            }

            p, h6 {
              width: 202px;
              text-align: center;
            }

            @media screen and (min-width: 900px) {
              padding-bottom: 53px;
            }

          }

          .ProgressSpace {

            .NumberOfProgress {

              @include flex(row, center, space-between, nowrap);

              padding-bottom: 5px;

              p {
                display: block;
                @media screen and (min-width: 900px) {
                  display: none;
                }
              }

              h6 {
                display: none;
                @media screen and (min-width: 900px) {
                  display: block;
                }
              }
            }

            .AllProgressSpace {
              width: 100%;
              height: 10px;
              background-color: #E9EDF7;
              border-radius: 42px;
              position: relative;

              .CompleteProgressSpace {
                position: absolute;
                top: 0;
                right: 0;
                background-color: map-get($primary, main);
                border-radius: 42px;
                height: 10px;
              }
            }

          }


          @media screen and (min-width: 1200px) {
            height: 365px;
            width: 24.5%;
          }

        }

        .ProfileUpload {

          background-color: white;

          padding: 15px 24px 24px 21px;

          border-radius: 15px;
          margin-bottom: 16px;

          .MobileUpload {

            display: block;

            .TitleMobileUpload {
              padding-bottom: 15px;
            }

            .DesMobileUpload {
              padding-bottom: 21px;

              p {
                display: block;
                width: 245px;
                @media screen and (min-width: 900px) {
                  display: none;
                }
              }

              h6 {
                display: none;
                width: 245px;
                @media screen and (min-width: 900px) {
                  display: block;
                }
              }

              @media screen and (min-width: 900px) {
                padding-bottom: 77px;
              }
            }

            .InputMobileUpload {

              padding-bottom: 16px;

              @include flex(row, center, center, nowrap);

              .Input {

                border: 1px dashed #E0E5F2;
                background-color: #FAFCFE;
                border-radius: 13px;

                #customFileInputButton {
                  padding: 16px 26px 28px 27px;

                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  border: none;
                  @include flex(column, center, center, nowrap);

                  img {
                    padding-bottom: 4px;
                  }

                  h3 {
                    padding-bottom: 8px;
                  }
                }

              }

            }

            .ButtonMobileUpload {

              @include flex(row, center, center, nowrap);

              .Publish {
                padding: 6px 28px;
                color: white;
                background-color: map-get($primary, main);
                border-radius: 8px;
                border: none;

                @media screen and (min-width: 900px) {
                  padding: 11px 47px;
                  border-radius: 16px;
                }
              }

            }

            @media screen and (min-width: 900px) {
              display: none;
            }


          }

          .DesktopUpload {

            display: none;

            gap: 36px;

            .TitleDesButtonDesktopUpload {

              width: 50%;

              h6 {
                text-align: justify;
                @media screen and (min-width: 1920px) {
                  width: 245px;
                }
              }

              .titleUpload {
                padding-bottom: 15px;
              }

              .desUpload {
                padding-bottom: 77px;
              }

              .ButtonDesktopUpload {

                @include flex(row, center, flex-end, nowrap);

                .Publish {
                  padding: 11px 47px;
                  border-radius: 16px;
                  color: white;
                  background-color: map-get($primary, main);
                  border: none;
                  cursor: pointer;
                }

              }

            }

            .InputDesktopUpload {
              width: 50%;

              padding-bottom: 16px;

              @include flex(row, center, center, nowrap);

              .Input {
                height: 300px;
                border: 1px dashed #E0E5F2;
                background-color: #FAFCFE;
                border-radius: 13px;

                #customFileInputButtonDesktop {
                  padding: 94px 7px 62px 7px;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  border: none;
                  @include flex(column, center, center, nowrap);

                  img {
                    padding-bottom: 4px;
                  }

                  h3 {
                    padding-bottom: 8px;
                  }

                  p {
                    @media screen and (min-width: 1920px) {
                      font-size: 11px;
                    }
                  }

                  @media screen and (min-width: 1536px) {
                    padding: 94px 27px 62px 26px;

                  }

                }

              }

            }

            @media screen and (min-width: 900px) {
              @include flex(row, center, space-between, nowrap);
            }

          }


          @media screen and (min-width: 1200px) {
            width: 40%;
            height: 365px;
            padding: 27px;
            border-radius: 20px;
          }
          @media screen and (min-width: 1536px) {
            padding: 27px 40px 27px 27px;
          }
        }

        @media screen and (min-width: 1200px) {
          @include flex(row, flex-start, space-between, nowrap);
          gap: 20px;
        }

      }

      .ProfileProjects {


        .AllProfileProjects {
          background-color: white;
          padding: 16px 24px;
          border-radius: 15px;
          height: 400px;

          .mobile, .desAll {
            display: block;
            @media screen and (min-width: 900px) {
              display: none;
            }
          }

          .desktop, .desAllDesktop {
            display: none;
            @media screen and (min-width: 900px) {
              display: block;
            }
          }

          .mobile{
            padding-bottom: 13px;
          }

          .desAllDesktop{
            padding-bottom: 16px;
          }

          .desktop{
            padding-bottom: 42px;
          }

          .desAll{
            padding-bottom: 24px;
          }

          .AllProfileProjectsCards{

            //max-height: 280px;
            //overflow-y: scroll;
            //
            //&::-webkit-scrollbar {
            //  display: none;
            //}
            //
            //scrollbar-width: none;

            .AllProfileProjectsCard{
              @include flex(row , center , space-between , nowrap);
              padding: 8px;
              box-shadow: 0 18px 40px 0 #7090B01F;
              position: relative;
              z-index: 1;
              border-radius: 10px;
              margin-bottom: 16px;
              overflow-x: auto;
              &::-webkit-scrollbar {
                display: none;
              }

              scrollbar-width: none;


              .TitleAndImageAllProfileProjectsCard{

                @include flex(row , center , flex-start , nowrap);
                gap: 8px;

                .ImageAllProfileProjectsCard{

                  width: 40px;
                  height: 40px;

                  img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                  }

                  @media screen and (min-width: 400px) {
                    width: 60px;
                    height: 60px;
                  }

                  @media screen and (min-width: 1536px) {
                    width: 50px;
                    height: 50px;
                  }

                  @media screen and (min-width: 1920px) {
                    width: 60px;
                    height: 60px;
                  }

                }

                .TitleAllProfileProjectsCard{


                  p{
                    font-size: 10px;
                    font-weight: 700;
                    white-space: nowrap;
                    @media screen and (min-width: 400px) {
                      font-size: 12px;
                      font-weight: 500;
                    }
                    @media screen and (min-width: 900px) {
                      font-size: 14px;
                    }
                  }

                  .desAllProfileProjectsCard{
                    @include flex(row , center , flex-start , nowrap);
                    gap: 6px;
                    p{
                      font-size: 10px;
                      @media screen and (min-width: 400px) {
                        font-size: 12px;
                      }
                      @media screen and (min-width: 900px) {
                        font-size: 14px;
                      }
                    }
                  }

                }

                @media screen and (min-width: 400px) {
                  gap: 16px;
                }

              }

              .NoteAllProfileProjectsCard{
                width: 18px;
                height: 18px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }


              @media screen and (min-width: 900px) {
                padding: 14px;
              }

            }
          }




          @media screen and (min-width: 1200px) {
            width: 33%;
            height: 554px;
            border-radius: 30px;
            padding: 23px 31px 31px 31px;
          }

        }


        .LoremProfileProjects {
        }


        .NotificationsProfileProject {
        }


      }

    }

  }


}