.Tables {

  .overlay {
  }

  .Dashboard {
  }

  .Main {
    .DesktopHeader {
    }

    .MobileHeaderTitle {
    }


    .TablesBody {

      display: block;

      .DevelopmentAndReviewTable {


        .ReviewTable {
          padding: 16px 21px 24px 21px;
          background-color: white;
          border-radius: 20px;
          height: 420px;
          margin-bottom: 24px;

          .HeaderReviewTable {
            box-shadow: 0 80px 58px 0 #7090B01F;
            padding-bottom: 16px;


            @include flex(row, center, space-between, nowrap);

            h2 {
              display: none;
              @media screen and (min-width: 900px) {
                display: block;
              }
            }

            h6 {
              display: block;
              @media screen and (min-width: 900px) {
                display: none;
              }
            }

            .Option {
              width: 32px;
              height: 28px;
              @include flex(row, center, center, nowrap);
              border-radius: 12px;
              background-color: map-get($primary, one);
              position: relative;
              cursor: pointer;

              .DropDownChart {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: opacity 0.2s, max-height 0.2s;
                padding: 20px 20px 4px 100px;
                position: absolute;
                top: 28px;
                left: 0;
                z-index: 10;
                border-radius: 16px;
                border: 1px solid #B0BBD5;
                box-shadow: 0 18px 40px 0 #7090B01F;
                background-color: white;

                h5 {
                  cursor: pointer;

                  padding-bottom: 16px;
                  display: none;
                  white-space: nowrap;
                  @media screen and (min-width: 900px) {
                    display: block;
                  }
                }

                p {
                  cursor: pointer;

                  display: block;
                  padding-bottom: 16px;
                  white-space: nowrap;
                  @media screen and (min-width: 900px) {
                    display: none;
                  }
                }

                @media screen and (min-width: 900px) {
                  padding: 40px 40px 34px 166px;
                  top: 37px;
                }
              }

              @media screen and (min-width: 900px) {
                width: 37px;
                height: 37px;
              }
            }

          }

          .MainReviewTable {

            max-height: 346px;
            overflow-y: auto;

            &::-webkit-scrollbar {
              display: none;
            }

            scrollbar-width: none;

            table {

              border-collapse: separate;
              border-spacing: 0 16px;


              thead {

                tr {
                  padding-bottom: 17px;
                  border-bottom: 1px solid #000;


                  p {
                    color: map-get($primary, secondary);
                    display: block;
                    @media screen and (min-width: 900px) {
                      display: none;
                    }
                  }

                  h6 {
                    color: map-get($primary, secondary);
                    display: none;
                    @media screen and (min-width: 900px) {
                      display: block;
                    }
                  }

                  .TitleMainReviewTable {
                    .TitleReviewTable {
                      @include flex(row, center, flex-start, nowrap);
                      gap: 1px;
                      padding-left: 60px;

                      img {
                        display: none;
                        @media screen and (min-width: 900px) {
                          display: block;
                        }
                      }

                      @media screen and (min-width: 400px) {
                        padding-left: 100px;
                      }
                      @media screen and (min-width: 700px) {
                        padding-left: 200px;
                      }
                      @media screen and (min-width: 900px) {
                        padding-left: 135px;
                      }
                      @media screen and (min-width: 1200px) {
                        padding-left: 65px;
                      }
                      @media screen and (min-width: 1536px) {
                        padding-left: 135px;
                        gap: 7px;
                      }
                      @media screen and (min-width: 1920px) {
                        padding-left: 182px;
                      }
                    }
                  }

                  .ProgressMainReviewTable {
                    .ProgressReviewTable {
                      padding-left: 10px;
                      @media screen and (min-width: 400px) {
                        padding-left: 25px;
                      }
                      @media screen and (min-width: 700px) {
                        padding-left: 140px;
                      }
                      @media screen and (min-width: 900px) {
                        padding-left: 70px;
                      }

                      @media screen and (min-width: 1200px) {
                        padding-left: 25px;
                      }
                      @media screen and (min-width: 1536px) {
                        padding-left: 70px;
                      }

                      @media screen and (min-width: 1920px) {
                        padding-left: 132px;
                      }
                    }
                  }

                  .NumberMainReviewTable {
                    .NumberReviewTable {
                      padding-left: 15px;
                      @media screen and (min-width: 400px) {
                        padding-left: 20px;
                      }
                      @media screen and (min-width: 700px) {
                        padding-left: 100px;
                      }
                      @media screen and (min-width: 900px) {
                        padding-left: 50px;
                      }
                      @media screen and (min-width: 1200px) {
                        padding-left: 20px;
                      }
                      @media screen and (min-width: 1536px) {
                        padding-left: 40px;
                      }

                      @media screen and (min-width: 1920px) {
                        padding-left: 123px;
                      }

                    }
                  }

                  .DateMainReviewTable {
                    .DateReviewTable {
                      padding-left: 0;

                    }
                  }

                }

              }

              .spacing-row {
                height: 12px;
                @media screen and (min-width: 1200px) {
                  height: 22px;
                }
              }


              tbody {

                tr {


                  td {
                    color: map-get($primary, primary);
                    font-weight: 700;
                    font-size: 10px;
                    @media screen and (min-width: 400px) {
                      font-size: 12px;
                    }
                    @media screen and (min-width: 900px) {
                      font-size: 14px;
                    }
                  }


                  .Input {

                    .InputReviewTable {
                      display: flex;
                      align-items: center;
                      gap: 4px;

                      label {
                        color: map-get($primary, three);
                        font-size: 12px;
                        font-weight: 400;
                        white-space: nowrap;
                        @media screen and (min-width: 900px) {
                          font-weight: 700;
                          font-size: 14px;
                        }
                      }

                      input {
                        width: 16px;
                        height: 16px;
                        @media screen and (min-width: 1536px) {
                          width: 24px;
                          height: 24px;
                        }
                      }

                      @media screen and (min-width: 400px) {
                        gap: 11px;
                      }
                    }

                  }

                }

              }

            }

            @media screen and (min-width: 1200px) {
              max-height: 430px;
              overflow-y: auto;
            }
          }

          @media screen and (min-width: 400px) {
            padding: 16px 30px 24px 21px;
          }

          @media screen and (min-width: 1200px) {
            width: 49%;
            height: 579px;
            margin-bottom: 0;
          }

        }

        .DevelopmentTable {
          height: 420px;


          .HeaderDevelopmentTable {
          }

          .MainDevelopmentTable {
            table {
              border-collapse: separate;
              border-spacing: 0 15px;

              thead {
                tr {
                  .TitleMainDevelopTable {
                    .TitleDevelopTable {
                      padding-left: 60px;

                      @media screen and (min-width: 400px) {
                        padding-left: 60px;
                      }
                      @media screen and (min-width: 700px) {
                        padding-left: 200px;
                      }
                      @media screen and (min-width: 900px) {
                        padding-left: 135px;
                      }
                      @media screen and (min-width: 1200px) {
                        padding-left: 50px;
                      }
                      @media screen and (min-width: 1536px) {
                        padding-left: 130px;
                      }
                      @media screen and (min-width: 1920px) {
                        padding-left: 182px;
                      }
                    }
                  }

                  .SystemMainDevelopTable {
                    .SystemDevelopTable {
                      padding-left: 65px;
                      @media screen and (min-width: 400px) {
                        padding-left: 55px;
                      }
                      @media screen and (min-width: 700px) {
                        padding-left: 140px;
                      }
                      @media screen and (min-width: 900px) {
                        padding-left: 70px;
                      }

                      @media screen and (min-width: 1200px) {
                        padding-left: 25px;
                      }
                      @media screen and (min-width: 1536px) {
                        padding-left: 70px;
                      }

                      @media screen and (min-width: 1920px) {
                        padding-left: 132px;
                      }
                    }
                  }

                  .DateMainDevelopTable {
                    .DateDevelopTable {
                      padding-left: 55px;
                      @media screen and (min-width: 400px) {
                        padding-left: 65px;
                      }
                      @media screen and (min-width: 700px) {
                        padding-left: 100px;
                      }
                      @media screen and (min-width: 900px) {
                        padding-left: 50px;
                      }
                      @media screen and (min-width: 1200px) {
                        padding-left: 40px;
                      }
                      @media screen and (min-width: 1536px) {
                        padding-left: 40px;
                      }

                      @media screen and (min-width: 1920px) {
                        padding-left: 123px;
                      }
                    }
                  }

                }
              }

              tbody {
                tr {

                  .TitleDevelopTable {
                  }

                  .SystemDevelopTable {

                    .RowSystem {
                      @include flex(row, center, flex-start, nowrap);
                      gap: 8px;
                      @media screen and (min-width: 1536px) {
                        gap: 16px;
                      }
                    }

                  }

                  .DateDevelopTable {
                  }

                  .ProgressDevelopTable {

                    @include flex(row, center, flex-start, nowrap);
                    gap: 6px;

                    p {
                      display: block;
                      @media screen and (min-width: 900px) {
                        display: none;
                      }
                    }

                    h6 {
                      display: none;
                      @media screen and (min-width: 900px) {
                        display: block;
                      }
                    }

                    .Progress {
                      position: relative;
                      background-color: map-get($primary, six);
                      width: 48px;
                      height: 8px;
                      border-radius: 21px;

                      .Complete {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: map-get($primary, main);
                        width: 32px;
                        height: 8px;
                        border-radius: 21px;
                      }

                      @media screen and (min-width: 1536px) {
                        width: 63px;
                      }
                    }

                  }


                }
              }
            }
          }

          @media screen and (min-width: 1200px) {
            height: 579px;
            width: 49%;
          }
        }

        @media screen and (min-width: 1200px) {
          @include flex(row, flex-start, space-between, nowrap);
          padding-bottom: 20px;
        }

        @media screen and (min-width: 1536px) {
          @include flex(row, flex-start, space-between, nowrap);
        }

      }


      .ComplexAndColumnTable {


        .ComplexTable {
          height: 250px;

          .HeaderReviewTable {
          }

          .MainReviewTable {
            max-height: 170px;
            overflow-y: auto;

            table {
              border-collapse: separate;
              border-spacing: 0 16px;

              thead {
                tr {
                  .TitleMainComplexTable {
                    .TitleComplexTable {
                      padding-left: 40px;
                      @media screen and (min-width: 400px) {
                        padding-left: 70px;
                      }
                      @media screen and (min-width: 700px) {
                        padding-left: 180px;
                      }
                      @media screen and (min-width: 900px) {
                        padding-left: 125px;
                      }
                      @media screen and (min-width: 1200px) {
                        padding-left: 75px;
                      }
                      @media screen and (min-width: 1536px) {
                        padding-left: 125px;
                      }
                      @media screen and (min-width: 1920px) {
                        padding-left: 149px;
                      }
                    }
                  }

                  .StatusMainComplexTable {
                    .StatusComplexTable {
                      padding-left: 30px;
                      @media screen and (min-width: 400px) {
                        padding-left: 49px;
                      }
                      @media screen and (min-width: 700px) {
                        padding-left: 140px;
                      }
                      @media screen and (min-width: 900px) {
                        padding-left: 115px;
                      }
                      @media screen and (min-width: 1200px) {
                        padding-left: 60px;
                      }
                      @media screen and (min-width: 1536px) {
                        padding-left: 115px;
                      }
                      @media screen and (min-width: 1920px) {
                        padding-left: 139px;
                      }
                    }
                  }

                  .DateMainComplexTable {
                    .DateComplexTable {
                      padding-left: 30px;
                      @media screen and (min-width: 400px) {
                        padding-left: 51px;
                      }
                      @media screen and (min-width: 700px) {
                        padding-left: 130px;
                      }
                      @media screen and (min-width: 900px) {
                        padding-left: 125px;
                      }
                      @media screen and (min-width: 1200px) {
                        padding-left: 75px;
                      }
                      @media screen and (min-width: 1536px) {
                        padding-left: 125px;
                      }
                      @media screen and (min-width: 1920px) {
                        padding-left: 149px;
                      }
                    }
                  }

                  .ProgressMainComplexTable {
                    .ProgressComplexTable {
                    }
                  }
                }
              }

              tbody {
                tr {
                  .TitleComplexTableTbody {
                    font-size: 10px;
                    font-weight: 500;
                    @media screen and (min-width: 400px) {
                      font-size: 12px;
                      font-weight: 500;
                    }
                    @media screen and (min-width: 900px) {
                      font-size: 14px;
                      font-weight: 700;
                    }
                  }

                  .StatusComplexTableTbody {
                    .StatusComplexTableDescription {
                      @include flex(row, center, flex-start, nowrap);
                      gap: 5px;

                      img {
                        width: 16px;
                        height: 16px;
                        @media screen and (min-width: 900px) {
                          width: 24px;
                          height: 24px;
                        }
                      }

                      p {
                        display: block;
                        font-size: 10px;
                        @media screen and (min-width: 400px) {
                          font-size: 12px;
                        }
                        @media screen and (min-width: 900px) {
                          display: none;
                        }
                      }

                      h6 {
                        display: none;
                        @media screen and (min-width: 900px) {
                          display: block;
                        }
                      }
                    }
                  }

                  .DateComplexTableTbody {
                  }

                  .ProgressComplexTableTbody {
                    .ProgressComplexTable {
                      width: 60px;
                      height: 6px;
                      border-radius: 21px;
                      background-color: map-get($primary, six);
                      position: relative;

                      .CompleteProgressComplexTable {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 50px;
                        height: 6px;
                        border-radius: 21px;
                        background-color: map-get($primary, main);
                      }
                    }
                  }
                }
              }

              @media screen and (min-width: 1920px) {
                padding-right: 74px;
              }

            }
            @media screen and (min-width: 900px) {
              max-height: 180px;
            }
            @media screen and (min-width: 1536px) {
              max-height: 225px;
            }
          }

          @media screen and (min-width: 900px) {
            height: 280px;
          }

          @media screen and (min-width: 1200px) {
            height: 345px;
            width: 49%;
          }
        }


        .ColumnTable {
          height: 195px;

          @media screen and (min-width: 1200px) {
            height: 345px;
            width: 49%;
          }
        }


      }


    }

  }


}