<!doctype html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>
    <link href="../assets/css/main.css" rel="stylesheet">
</head>
<body style="background-color: #F4F7FE">
<div class="DesktopHeader">
    <div class="DesktopHeaderTitle">
        <h6>منو / داشبورد</h6>
        <h1>داشبورد اصلی</h1>
    </div>
    <div class="hamburgerMenu">
        <img src="../assets/image/menu.svg" alt="">
    </div>
    <div class="NavbarDesktopHeader">
        <div class="InputHeader">
            <label for="search"></label>
            <input id="search" />
            <img class="search-icon" src="../assets/image/magnifier.svg" alt="">
        </div>
        <div class="IconNavbarHeader">
            <img src="../assets/image/notifications.svg" alt="">
            <img src="../assets/image/moon.svg" alt="">
            <img src="../assets/image/info.svg" alt="">
        </div>
        <div class="UserNavbarHeader">
            <img src="../assets/image/User.png" alt="">
        </div>
    </div>
</div>
</body>
</html>