<!doctype html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>NavbarCard</title>
    <link href="../assets/css/main.css" rel="stylesheet">
</head>
<body style="background-color: red ; display: flex ; gap: 12px ; padding: 20px">
<div class="NavbarCard">
    <div class="CardIcon">
        <img src="../assets/image/income.svg" alt=""/>
    </div>
    <div class="desCard">
        <h6>درآمد</h6>
        <h4>12345 تومان</h4>
    </div>
</div>
<div class="MobileNavbarCard">
    <div class="MobileCardIcon">
        <img src="../assets/image/income.svg" alt=""/>
        <h6>درآمد</h6>
    </div>
    <div class="MobileDesCard">
        <h4>12345 تومان</h4>
    </div>
</div>
</body>
</html>