<!doctype html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShoppingCard</title>
    <link href="../assets/css/main.css" rel="stylesheet">
</head>
<body style="background-color: #F4F7FE">
<div class="ShoppingCard">
    <div class="ShoppingImage">
        <img class="ShoppingImage" src="../assets/image/ShoppingImage.png" alt="">
        <img class="Favorite" src="../assets/image/Favorite.svg" alt="">
    </div>
    <div class="ShoppingTitle">
        <div class="title">
            <h4>لورم ایپسوم</h4>
            <h6>لورم ایپسوم</h6>
        </div>
        <div class="users">
            <div style="z-index: 4" class="NumberUsers">
                <div class="Number">18+</div>
            </div>
            <div style="z-index: 3" class="user">
                <img src="../assets/image/User.png" alt="">
            </div>
            <div style="z-index: 2" class="user">
                <img src="../assets/image/UserThree.png" alt="">
            </div>
            <div style="z-index: 1" class="user">
                <img src="../assets/image/UserTwo.png" alt="">
            </div>
        </div>
    </div>
    <div class="ShoppingButton">
        <h6>قیمت: 123 تومان</h6>
        <div class="buttonShoppingCard">
            <button>خرید</button>
        </div>
    </div>
</div>
</body>
</html>